{% extends 'profile/base.html' %}
{% load i18n %}
{% block title %} Profile {% endblock %}
{% block content%}
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
                <div ng-controller="UserController">
					<span class="profile_avatar" ng-style="{'background-image': 'url(\''+userview_gravatar+'\')'}"></span>
					<div class="space-36"></div>
						<p><h3>{{ user_view.first_name }} {{user_view.last_name}}</h3></p>
						<p>{{ user_view.email }}</p>
						{%if not user_view.description == none %}
						<p>{% trans 'Description' %}: {{ user_view.description }}</p>
						{% endif %}
						<span ng-click="follow()">
							<a  class="btn btn-sm btn-block btn-success" ng-if="add == false" >
								<i class="icon-plus-sign bigger-120"></i>
								<span class="bigger-110"> {% trans 'Follow' %}</span>
							</a>

							<a  class="btn btn-sm btn-block btn-danger" ng-if="add == true" >
								<i class="icon-minus bigger-120"></i>
								<span class="bigger-110"> {% trans 'Stop following' %} </span>
							</a>

						</span>
					<legend></legend>
					<!-- {% if user.is_authenticated %} -->

					<!-- {%endif%} -->
				</div>

			</div>
			<div class="span9">
				{% include 'profile/navbar_view.html' %}
                <legend></legend>	

				<div class = "row-fluid">
                   <tabset>
                        <tab href = "" heading="{% trans 'Wall' %}">
                            {% include 'tribs.html' %}
                        </tab>
							<ul class="nav nav-tabs" id="myTab">

						</div>
				</div>
			</div>
		</div>
</div>		

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        {% if user.is_authenticated %}
        var user_id = '{{ user.id }}';
        var user_username = '{{ user.username }}';
        // NO SE USA POR AHORA
        var user_first_name = '{{ user.first_name }}';
        var user_last_name = '{{ user.last_name }}';
        var user_email = '{{ user.email }}';      
        var user_gravatar = 'http://www.gravatar.com/avatar/'+md5(user_email)+'?d=mm&s=250&r=x';
        var comment_gravatar = 'http://www.gravatar.com/avatar/'+md5(user_email)+'?d=mm&s=30&r=x';
        {% endif %}

		var template_name = "profileView";
        var userview_id = '{{ user_view.id }}';
        var userview_username = '{{ user_view.username }}';
        var userview_first_name = '{{ user_view.first_name }}';
        var userview_last_name = '{{ user_view.last_name }}';
        var userview_email = '{{ user_view.email }}';  
        var userview_gravatar = 'http://www.gravatar.com/avatar/'+md5(userview_email)+'?d=mm&s=250&r=x';        

        var trib_limit_to = 0;
        var trib_offset = 0;
        var trib_add = 10;
        var trib_limit = 10;
        var trib_orderby = '-trib_pub_date';
        var controller_busy = false;


        var comment_limit_to = 0;
        var comment_offset = 0;
        var comment_add = 10;
        var comment_limit = 10;
        var comment_orderby = 'comment_pub_date';
        

        // Messages
        var trib_save_success = '{% trans "Your message has been published." %}';
        var trib_save_error = '{% trans "There has been an error publishing your message. Please try again later." %}';
        var trib_delete_success = '{% trans "Your message has been deleted." %}';
        var trib_delete_error = '{% trans "There has been an error deleting your message. Please try again later." %}'
        var trib_add_error = '{% trans "There has been an error consulting more messages. Please try again later." %}'
        var comment_save_success = '{% trans "Your comment has been published." %}';
        var comment_save_error = '{% trans "There has been an error publishng your comment. Please try again later." %}';
        var comment_delete_success = '{% trans "Your comment has been deleted." %}'
        var comment_delete_error = '{% trans "There has been an error deleting your comment. Please try again later." %}'

    </script>
{% endblock %}
