.navbar .logo {
  background-image: url('../img/logo-min.png');
  width: 100px;
  height: 40px;
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

.navbar .form-search {
  margin: 5px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
 border-radius:4px !important;
}

.btn {
 border-radius:4px !important;
}

.input-block {
  display: block;
  width: 100%;
}

.input-medium {
  display: block;
  width: 146px;
}

.input-large {
  display: block;
  width: 360px;
}

.input-xlarge {
  display: block;
  width: 360px;
}

.hero-unit {
  padding: 30px;
  margin: 0px !important;
}

input, button, select, textarea {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.jumbotron {
  padding: 60px;
}

.home-signin, .home-signup {
    background: rgb(238, 238, 238);
    padding: 5px;
    margin: 0 0 5px 0;
    -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}