{% extends 'profile/base.html' %}
{% block title %} Profile {% endblock %}
{% block content%}

<div class="jumbotron">
	<div class="container">
		<div class="row-fluid">
			<div class="span3">
				<div>
                    <img gravatar-src="'{{user.email}}'" gravatar-size="280">
					
				<div class="space-6"> {{add}}</div>
									
					{% if add %}

					<a href="/profile/add_follow/{{user.username}}" class="btn btn-sm btn-block btn-success">
						<i class="icon-plus-sign bigger-120"></i>
						<span class="bigger-110">Add as a friend</span>
					</a>
				
					{%elif eliminar%}

					<a href="/profile/delete_follow/{{user.username}}" class="btn btn-sm btn-block btn-success">
						<i class="icon-plus-sign bigger-120"></i>
						<span class="bigger-110">Delete as a friend</span>
					</a>
				

					{%endif%}
				</div>

				<div class="space-36"></div>
                <div>
                {% block datos %}

	    			<hr>
	    			<ul>
						<p>{{ user_view.first_name }} {{user_view.last_name}}
						<p>{{ user_view.email }}
						<p>descripcion: {{ user_view.description }}
						<hr>
		

						<p>sigues a:
	<!-- 				 solo para depurar -->
						{%for i in user_view.user_profile.follows.only%}
	<!-- 					<p ng-repeat = > -->
							<p><a href="/profile/{{i.username}}">{{i.username}}</a>
						{%endfor%}

                {% endblock %}
                	<hr>
				<legend></legend>
				</div>

			</div>
			<div class="span9">
				{% include 'profile/navbar.html' %}
                <legend></legend>	

				<div class = "row-fluid">

					<div class="tabbable tabs">
						<ul class="nav nav-tabs" id="myTab3">

							<li class="active">
								<a data-toggle="tab" href="#home3">
									<i class="pink icon-dashboard bigger-110"></i>
									Muro
									<span class="badge badge-danger">4</span>
								</a>
							</li>

							<li class="">
								<a data-toggle="tab" href="#profile3">
									<i class="blue icon-user bigger-110"></i>
									Edit Profile
								</a>
							</li>

							<li class="">
								<a data-toggle="tab" href="#dropdown13">
									<i class="icon-rocket"></i>
									More
								</a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="home3" class="tab-pane active">
					            	{% include 'tribs.html' %}
							</div>

							<div id="profile3" class="tab-pane">
							    <form accept-charset="UTF-8" action="profile/done" autocomplete="off" method="post">
							        {% csrf_token %}
							        <ul class="unstyled row-fluid">
							            <li><label class ="span2 offset1">Email:</label>{{editForm.email}}</li>            
							            <li><label class ="span2 offset1">Descripcion:</label>{{editForm.descripcion}}</li>
							           
							        </ul>
							        <div class="span2 offset3" >
							        	<button class="btn btn-success btn-block" type="submit">Confirmar </button>
							    	</div>
							    </form>
							</div>

							<div id="dropdown13" class="tab-pane ">
							</div>
						</div>
					</div>
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        {% if user.is_authenticated %}
        var user_id = '{{ user.id }}';
        var user_username = '{{ user.username }}';
        var user_first_name = '{{ user.first_name }}';
        var user_last_name = '{{ user.last_name }}';
        var user_email = '{{ user.email }}';


        {% endif %}
		
        var userview_id = '{{ user_view.id }}';    
        var trib_limit_to = 0;
        var trib_offset = 0;
        var trib_add = 10;
        var trib_limit = 10;
        var trib_orderby = '-trib_pub_date';
        var controller_busy = false;
    </script>
{% endblock %}