{% load static %}
{% load admin_static %}
{% load django_static %}
{% load waffle_tags %}
<!DOCTYPE html>
<html data-ng-app="tribus" lang="{{ LANGUAGE_CODE|default:"en-us" }}">
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% staticall %}
		    {% for css in render_css %}
		        {% if DEBUG %}
		        	<link type="text/css" rel="stylesheet" href="{% static 'css/full/'|add:css|add:'.css' %}"/>
		        {% else %}
		        	<link type="text/css" rel="stylesheet" href="{% static 'css/min/'|add:css|add:'.css' %}"/>
		        {% endif %}
		    {% endfor %}
		{% endstaticall %}
		{% block extrastyle %}{% endblock %}
		{% block extrahead %}{% endblock %}
		{% block blockbots %}
			<meta name="robots" content="NONE,NOARCHIVE"/>
		{% endblock %}
	</head>
	{% load i18n %}

	<body class="{% if is_popup %}popup{% endif %}{% block bodyclass %}{% endblock %}">
		<div class="jumbotron">
    	<!-- NAVBAR -->
		    <div class="navbar navbar-fixed-top">
		    	<div class="container-fluid">
			        <div class="row-fluid">
			            <ul class="nav span4">
			                <li class="brand">
			                    <a href="/admin">
			                        <span class="logo"></span>
			                        <span class="logo_title">Tribus</span>
			                        <span class="logo_subtitle badge badge-yellow">alpha</span>
			                    </a>
			                </li>
			                <li class="divider-vertical"></li>
			            </ul>
			            {% if user.is_active and user.is_staff %}
			            <ul class="nav span2 pull-right">
			            	<li>
			            		<h5>{% trans 'Welcome,' %} 
		    					<strong>{% filter force_escape %}
		    						{% firstof user.get_username user.get_short_name%}
		    					{% endfilter %}</strong></h5>
			            	</li>
			                <li class="dropdown settings">
			                    <a id="drop-settings" href="#" class="dropdown-toggle" role="button">
			                        <span class="bigger-150 fa fa-cog"></span>
			                    </a>
			                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop-settings">
			                    	{% if docsroot %}
		                    		<li role="presentation">
			                            <a role="menuitem" tabindex="-1" href="{{ docsroot }}">
			                            	{% trans 'Documentation' %}
			                            </a>
			                        </li>
		                			{% endif %}
			                    	{% if user.has_usable_password %}
			                        <li role="presentation">
			                            <a role="menuitem" tabindex="-1" href="{% url 'admin:password_change' %}">
			                            	{% trans "Change password" %}
			                            </a>
			                        </li>
			                        {% endif %}
			                        <li role="presentation">
			                            <a role="menuitem" tabindex="-1" href="{% url 'admin:logout' %}">
			                            	{% trans "Logout" %}
			                            </a>
			                        </li>
			                    </ul>
			                </li>
			            </ul>
			            {% endif %}
			        </div>
		    	</div>
		    <!-- END NAVBAR -->
			</div>
			
			{% switch admin_first_time %}
			<!-- NORMAL ADMIN -->
			
			    <div id="content" class="{% block coltype %}colM{% endblock %}">
			        {% block content %}
			        
			        {% endblock %}
			        <br class="clear"/>
			    </div>
			
			{% else %}
			<!-- ADMIN FIRST TIME -->
				ADMIN PRIMERA VEZ
			<!-- FALTA LOG -->
			{% endswitch %}
	    
		    {% block footer %}
		    	<div id="footer"></div>
		    {% endblock %}

		    {% staticall %}
		        {% for js in render_js %}
		            {% if DEBUG %}
		            	<script type="text/javascript" src="{% static 'js/full/'|add:js|add:'.js' %}"></script>
		            {% else %}
		            	<script type="text/javascript" src="{% static 'js/min/'|add:js|add:'.js' %}"></script>
		            {% endif %}
		        {% endfor %}
		    {% endstaticall %}
		</div>
	</body>
</html>