#!/usr/bin/make -f

# debian/rules
# Este archivo es utilizado por el mantenedor del paquete para convertir
# el software distribuído por el desarrollador en un paquete instalable
# dentro de un sistema basado en Debian como Canaima.
# La idea general es, construir la estructura de archivos que va a ir
# dentro del paquete a partir de éstas instrucciones y guardarlo dentro
# de la carpeta debian del paquete.

# Éstas siguientes dos líneas permiten que los ayudantes de debhelper
# hagan su trabajo al invocarlos con aplicaciones constructoras como
# dpkg-buildpackage, git-buildpackage, svn-buildpackage o debuild. 
# Los diferentes ayudantes de debhelper realizan operaciones automáticas
# que nos permiten simplificar las instrucciones que deben colocarse en
# debian/rules.

%:
	dh ${@}

# El target "override_dh_auto_install" permite sustituir el proceso de
# instalación por defecto que utilizan los ayudantes debhelper, por lo que
# se le instruya dentro de él. Es recomendable reutilizar el Makefile del
# desarrollador para ésta labor. Nótese la utilidad de definir $(DESTDIR)
# en el Makefile: al ser reutilizado en debian/rules, ésta variable adquiere
# el valor necesario para instalarse dentro de la carpeta debian, lugar
# donde finalmente se hace el paquete.

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/@PAQUETE@ install
