Source: canaima-desarrollador
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 7.0.50~), cdbs, python-sphinx, texlive, python-docutils
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-desarrollador.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-desarrollador/trees/master

Package: canaima-desarrollador
Architecture: all
Depends: dpkg-dev, git-core, git-buildpackage, dh-make, cdbs, debhelper, fakeroot, build-essential, lintian, devscripts, ${shlibs:Depends}, ${misc:Depends}
Description: Paquete que facilita la creación de Software para Canaima
 Este paquete provee los archivos base de Canaima GNU/Linux.
