.navbar .logo {
  background-image: url('../img/logo-min.png');
  width: 100px;
  height: 40px;
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

.navbar .form-search {
  margin: 5px;
}

.jumbotron {
    padding: 40px 0px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgb(229, 229, 229);
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(250, 250, 250);
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]
{
 border-radius:4px !important;
}

.btn {
 border-radius:4px !important;
}

.input-block {
  display: block;
  width: 91.764705882%;
}

.hero-unit {
  padding: 30px;
  margin: 0px !important;
}

input, button, select, textarea {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
