# Example configuration file for the debfactory tools

# This email address will be used as the mail sender on all build related
# mails
sender_email = GetDeb Automated Builder <autobuild@getdeb.net>

# repository managment commands 
rep_commands_dir = /build/rep_commands

# Base url
base_url = "http://abs.getdeb.net"

