@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/OpenSans-Light.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/OpenSans.woff) format('woff');
}

body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

body
{
	display:block;
	overflow-x: hidden;
}

img
{
	border: 0;
}

h2
{
font-family: 'Open Sans Light'
}


.scrollblock
{
/*width: 100%;*/
padding:0;
margin:50px;
/*background-color: #eee;*/
/*border-radius: 5px;*/
}
}

#slide_1
{
margin:20px;
}

#slide_1a
{
margin:20px;
}

#slide_1b
{
margin:20px;
}

#slide_2
{
width:70%;
	line-height: 2em;
	font-weight: 200;
	font-size: 1.7em;
}

#slide_3
{
width:100%;
}

#slide_1a, #slide_1b
{
width:100%;
}

#slide_1b
{
	width: 50%;
	line-height: 2em;
	font-weight: 200;
	font-size: 1.7em;
}

#slide_1a h1
{
	font-size: 5em;
}

#slide_2 h1
{
	font-size: 3em;
}

@keyframes Rotation
{
	0%		{transform: rotate(0deg);}
	100%	{transform: rotate(360deg);}
}

#flat_earth
{
	position: relative;
	margin: 0px auto;
	height: 400px;
	width: 400px;
	animation: Rotation 200s linear 0s infinite;
	animation-play-state: running;
}

.fancy_title
{
	position: absolute;
	margin: 0px auto;
	width: 600px;
}

.fancy_title .title0
{
	position: relative;
line-height: 1em;
font-weight: 700;
font-size: 15em;
top: -50px;

}

.fancy_title .title1
{
position: relative;
line-height: 1em;
font-weight: 200;
font-size: 9em;
top: -100px;
}

.fancy_title .title2
{
line-height: 2em;
font-weight: 200;
font-size: 5em;
margin-left: 210px;
top: -130px;
position: relative;
}

.fancy_title .title3
{
line-height: 0.2em;
font-weight: 200;
font-size: 10em;
position: relative;
top: -120px;
}

.fancy_title .title4
{
font-size: 5em;
position: relative;
top: -170px;
font-weight: 200;
margin-left: 20px;
}

.fancy_title .title5
{
line-height: 0.4em;
font-weight: 400;
font-size: 12em;
position: relative;
top: -80px;
}

.fancy_title .title6
{
	line-height: 0.4em;
	font-weight: 400;
	font-size: 30em;
}

#flat_newton
{
	position: relative;
	height: 1000px;
	width: 500px;
	top:-2000;
	background: url('../img/flat_newton.png');
}
