@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../font/OpenSans-Light.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../font/OpenSans.woff) format('woff');
}

body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

body
{
	display:block;
	overflow-x: hidden;
}

img
{
	border: 0;
}

h2
{
font-family: 'Open Sans Light'
}


.scrollblock
{
/*width: 100%;*/
padding:0;
margin:50px;
/*background-color: #eee;*/
/*border-radius: 5px;*/
}
}

#slide_1
{
margin:20px;
}

#slide_1a
{
margin:20px;
}

#slide_1b
{
margin:20px;
}

#slide_2
{
width:100%;
}

#slide_3
{
width:100%;
}

#slide_1a, #slide_1b
{
width:100%;
}

#slide_1b
{
	width: 50%;
	line-height: 2em;
	font-weight: 200;
	font-size: 1.7em;
}

#slide_1a h1
{
	font-size: 5em;
}

@keyframes Rotation
{
	0%		{transform: rotate(0deg);}
	100%	{transform: rotate(360deg);}
}

#flat_earth
{
	position: relative;
	margin: 0px auto;
	height: 400px;
	width: 400px;
	animation: Rotation 200s linear 0s infinite;
	animation-play-state: running;
}

#flat_newton
{
	position: relative;
	height: 1000px;
	width: 500px;
	top:-2000;
	background: url('../img/flat_newton.png');
}
