@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSansLight'),
  url('../../fonts/opensans-light-webfont.woff') format('woff'),
  url('../../fonts/opensans-light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSansRegular'),
  url('../../fonts/opensans-regular-webfont.woff') format('woff'),
  url('../../fonts/opensans-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSansSemibold'),
  url('../../fonts/opensans-semibold-webfont.woff') format('woff'),
  url('../../fonts/opensans-semibold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSansBold'),
  url('../../fonts/opensans-bold-webfont.woff') format('woff'),
  url('../../fonts/opensans-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSansExtrabold'),
  url('../../fonts/opensans-extrabold-webfont.woff') format('woff'),
  url('../../fonts/opensans-extrabold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'League Gothic';
  src: local('League Gothic'), local('LeagueGothic'),
  url('../../fonts/leaguegothic-regular-webfont.woff') format('woff'),
  url('../../fonts/leaguegothic-regular-webfont.eot') format('embedded-opentype'),
  url('../../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
  url('../../fonts/leaguegothic-regular-webfont.svg') format('svg');
  font-style: normal;
  font-weight: normal;
}