body, html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

body
{
	display:block;
	overflow-x: hidden;
}

img
{
	border: 0;
}

h2
{
font-family: 'Open Sans'
}


.scrollblock
{
/*width: 100%;*/
padding:0;
margin:50px;
/*background-color: #eee;*/
/*border-radius: 5px;*/
}
}

#slide_1
{
margin:20px;
}

#slide_1a
{
margin:20px;
}

#slide_1b
{
margin:20px;
}

#slide_2, #slide_3
{
width:80%;
	line-height: 2em;
	font-weight: 200;
	font-size: 1.7em;
}

#slide_1a, #slide_1b
{
width:100%;
}

#slide_1b
{
	width: 50%;
	line-height: 2em;
	font-weight: 200;
	font-size: 1.7em;
}

#slide_1a h1
{
	font-size: 5em;
}

#slide_2 h1, #slide_3 h1
{
	font-size: 3em;
}

@keyframes Rotation
{
	0%		{transform: rotate(0deg);}
	100%	{transform: rotate(360deg);}
}

#flat_earth
{
	position: relative;
	margin: 0px auto;
	height: 400px;
	width: 400px;
	animation: Rotation 200s linear 0s infinite;
	animation-play-state: running;
}

.fancy_title
{
	position: absolute;
	margin: 0px auto;
	width: 600px;
}

.fancy_title .title0
{
	position: relative;
line-height: 1em;
font-weight: 700;
font-size: 15em;
top: -50px;

}

.fancy_title .title1
{
position: relative;
line-height: 1em;
font-weight: 200;
font-size: 9em;
top: -100px;
}

.fancy_title .title2
{
line-height: 2em;
font-weight: 200;
font-size: 5em;
margin-left: 210px;
top: -130px;
position: relative;
}

.fancy_title .title3
{
line-height: 0.2em;
font-weight: 200;
font-size: 10em;
position: relative;
top: -120px;
}

.fancy_title .title4
{
font-size: 5em;
position: relative;
top: -170px;
font-weight: 200;
margin-left: 20px;
}

.fancy_title .title5
{
line-height: 0.4em;
font-weight: 400;
font-size: 12em;
position: relative;
top: -80px;
}

.fancy_title .title6
{
	line-height: 0.4em;
	font-weight: 400;
	font-size: 30em;
}

#flat_newton
{
	position: relative;
	height: 1000px;
	width: 500px;
	top:-2000;
	background: url('../img/flat_newton.png');
}
	
	@keyframes threeLarge
	{
		0%		{transform: translate(-8px, 4px);}
		33%		{transform: translate(-10px, 10px);}	/*collide*/
		50%		{transform: translate(-7px, 15px);} 	/*collide*/
		75%		{transform: translate(-4px, 10px);}
		100%	{transform: translate(-8px, 4px);}
	}
 	
	@keyframes threeSmall
	{
		0%		{transform: translate(4px, 10px);}
		33%		{transform: translate(28px, 15px);}		/*collide*/
		66%		{transform: translate(20px, 4px);}
		100%	{transform: translate(4px, 10px);}
	}

	@keyframes threeMedium
	{
		0%		{transform: translate(8px, -4px);}
		25%		{transform: translate(4px, -20px);}
		50%		{transform: translate(13px, -30px);}	/*collide*/
		100%	{transform: translate(8px, -4px);}
	}

	.img_threecircles
	{
		position: relative;
		display: block;
		float: left;
		clear: none;
		width: 330px;
		height: 380px;
		
		margin-top: 0px;
		top:-200px;
	}
	
		.img_threeSmall, .img_threeMedium, .img_threeLarge
		{
			position: relative;
			float: left;
			display: block;
			clear: none;
			
			width: 100px;
			height: 100px;
			
		}
		
		.img_threeSmall
		{
			-webkit-animation: threeSmall 2s linear 0s infinite;
			-webkit-animation-play-state: running;
			
			-moz-animation: threeSmall 2s linear 0s infinite;
			-moz-animation-play-state: running;
			
			-ms-animation: threeSmall 2s linear 0s infinite;
			-ms-animation-play-state: running;
			
			-o-animation: threeSmall 2s linear 0s infinite;
			-o-animation-play-state: running;
			
			animation: threeSmall 2s linear 0s infinite;
			animation-play-state: running;
		}
		
		.img_threeMedium
		{
			float: left;
			
			width: 180px;
			height: 180px;
			
			
			-webkit-animation: threeMedium 2s linear 0s infinite;
			-webkit-animation-play-state: running;
			
			-moz-animation: threeMedium 2s linear 0s infinite;
			-moz-animation-play-state: running;
			
			-ms-animation: threeMedium 2s linear 0s infinite;
			-ms-animation-play-state: running;
			
			-o-animation: threeMedium 2s linear 0s infinite;
			-o-animation-play-state: running;
			
			animation: threeMedium 2s linear 0s infinite;
			animation-play-state: running;
		}
		
		.img_threeLarge
		{
			float: right;
			
			width: 200px;
			height: 200px;
			
			
			-webkit-animation: threeLarge 2s linear 0s infinite;
			-webkit-animation-play-state: running;
			
			-moz-animation: threeLarge 2s linear 0s infinite;
			-moz-animation-play-state: running;
			
			-ms-animation: threeLarge 2s linear 0s infinite;
			-ms-animation-play-state: running;
			
			-o-animation: threeLarge 2s linear 0s infinite;
			-o-animation-play-state: running;
			
			animation: threeLarge 2s linear 0s infinite;
			animation-play-state: running;
		}
