@media(min-width:768px) {
    .container.main-container:after {
        -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    }
}

@media only screen and (max-width:767px) {
    .navbar-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:767px) {
    .ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right {
        right: -80px;
    }

    .ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right:after {
        right: 100px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right {
        right: -40px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right:after {
        right: 60px;
    }

    .user-menu.dropdown-close.pull-right {
        right: 0!important;
    }
}

@media only screen and (max-width:480px) {
    .ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right {
        right: -120px;
    }

    .ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right:after {
        right: 140px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right {
        right: -80px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right:after {
        right: 100px;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.pull-right {
        right: -50px;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(2)>.dropdown-menu.pull-right:after {
        right: 70px;
    }
}

@media only screen and (max-width:460px) {
    .ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right {
        left: -5px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(4)>.dropdown-menu.pull-right:after {
        right: auto;
        left: 25px;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right {
        left: -60px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(3)>.dropdown-menu.pull-right:after {
        left: 80px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.pull-right {
        left: -110px;
        right: auto;
    }

    .ace-nav>li:nth-last-child(2)>.dropdown-menu.pull-right:before,.ace-nav>li:nth-last-child(2)>.dropdown-menu.pull-right:after {
        left: 130px;
        right: auto;
    }
}

@media only screen and (max-width:460px) {
    .navbar .navbar-header.pull-left {
        display: block;
        float: none!important;
    }

    .navbar .navbar-header.pull-right {
        display: block;
        float: none!important;
    }

    .ace-nav {
        display: block;
        float: none!important;
        text-align: center;
        background-color: #404040;
        border: 1px solid #DDD;
        border-width: 1px 0;
        letter-spacing: -3px;
    }

    .ace-nav>li {
        display: inline-block;
        float: none!important;
        text-align: left;
        letter-spacing: normal;
    }

    .ace-nav>li:first-child {
        border-left: 1px solid #DDD;
    }

    .ace-nav>li:last-child {
        border-right: 1px solid #DDD;
    }
}

@media only screen and (max-width:320px) {
    .ace-nav>li>a {
        padding: 0 5px!important;
    }
}

@media(min-width:461px) and (max-width:480px),(max-width:360px) {
    .user-menu {
        padding-top: 42px!important;
    }

    .ace-nav .nav-user-photo {
        margin-right: 0;
    }

    .user-info {
        position: absolute!important;
        margin-top: 40px;
        margin-left: 1px;
        right: 2px;
        z-index: 1032;
        color: #777;
        font-size: 14px;
        width: 156px;
        max-width: 156px;
        padding-left: 8px;
        padding-right: 8px;
        height: 32px;
        line-height: 26px!important;
        display: none;
        border-bottom: 1px solid #e5e5e5;
        text-align: center;
        vertical-align: none;
        line-height: normal;
    }

    .user-info>small {
        display: inline;
        opacity: 1;
    }

    li.open .user-info {
        display: inline-block;
    }
}

@media only screen and (max-width:991px) {
    .breadcrumb {
        margin-left: 90px;
    }

    .breadcrumbs.fixed,.breadcrumbs.breadcrumbs-fixed {
        position: relative!important;
        left: auto!important;
        right: auto!important;
        top: auto!important;
        z-index: auto!important;
    }

    body.breadcrumbs-fixed .ace-settings-container {
        top: 50px;
    }
}

@media only screen and (max-width:480px) {
    .breadcrumb>li>a {
        padding: 0 1px;
    }
}

@media only screen and (max-width:320px) {
    .breadcrumb {
        margin-left: 36px;
    }
}

@media(min-width:768px) {
    .container.main-container .breadcrumbs.breadcrumbs-fixed {
        width: 554px;
    }

    .container.main-container .menu-min+.main-content .breadcrumbs.breadcrumbs-fixed {
        width: 701px;
    }
}

@media(min-width:992px) {
    .container.main-container .breadcrumbs.breadcrumbs-fixed {
        width: 774px;
    }

    .container.main-container .menu-min+.main-content .breadcrumbs.breadcrumbs-fixed {
        width: 921px;
    }
}

@media(min-width:1200px) {
    .container.main-container .breadcrumbs.breadcrumbs-fixed {
        width: 974px;
    }

    .container.main-container .menu-min+.main-content .breadcrumbs.breadcrumbs-fixed {
        width: 1121px;
    }
}


@media only screen and (max-width:767px) {
    .nav-search {
        right: 5px;
    }

    .nav-search .nav-search-input {
        width: 105px;
    }

    .nav-search:hover .nav-search-input,.nav-search .nav-search-btn:active+.nav-search-input,.nav-search .nav-search-input:focus,.nav-search .nav-search-input:hover,.nav-search .nav-search-input:active {
        width: 145px;
    }
}

@media only screen and (max-width:480px) {
    .nav-search .nav-search-input {
        width: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        max-width: 0;
    }

    .nav-search:hover .nav-search-input,.nav-search .nav-search-btn:active+.nav-search-input,.nav-search .nav-search-input:focus,.nav-search .nav-search-input:hover,.nav-search .nav-search-input:active {
        opacity: 1;
        filter: alpha(opacity=100);
        width: 152px;
        max-width: 152px;
    }

    .nav-search .nav-search-icon {
        border: 1px solid;
        border-radius: 100%;
        background-color: #FFF;
        padding: 0 5px!important;
    }

    .nav-search:hover .nav-search-icon,.nav-search .nav-search-input:focus ~ .nav-search-icon,.nav-search .nav-search-input:hover ~ .nav-search-icon,.nav-search .nav-search-input:active ~ .nav-search-icon {
        border: 0;
        border-radius: 0;
        padding: 0 3px!important;
    }
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::safari-only,.sidebar-shortcuts-mini>.btn {
        margin: 0;
    }
}


@media only screen and (max-width:991px) {
    .sidebar:before {
        display: none;
    }

    .sidebar {
        display: none;
        float: none;
        position: absolute;
        z-index: 999;
        left: 0;
        bottom: auto;
        top: auto!important;
        margin-top: 40px;
        border: 1px solid #CCC;
        border-left-width: 0;
        box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
    }

    .sidebar.display {
        display: block;
    }

    .menu-toggler {
        display: inline-block;
        position: absolute;
        left: 0;
        z-index: 998;
        width: 52px;
        height: 32px;
        margin-right: 2px;
        line-height: normal;
        padding-left: 33px;
        padding-top: 7px;
        padding-bottom: 1px;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #444;
        color: #f3f3f3;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .menu-toggler:hover {
        text-decoration: none;
    }

    .menu-toggler:before {
        border-top: 1px solid #87b87f;
        border-bottom: 1px solid #6fb3e0;
        height: 2px;
        width: 24px;
        content: "";
        position: absolute;
        z-index: 11;
        top: 13px;
        left: 4px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .menu-toggler:after {
        border-top: 1px solid #ffa24d;
        border-bottom: 1px solid #d15b47;
        content: "";
        height: 2px;
        width: 24px;
        position: absolute;
        top: 19px;
        left: 4px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        -o-transition: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    .menu-toggler.display:before {
        height: 4px;
        top: 8px;
        border-width: 2px;
    }

    .menu-toggler.display:after {
        height: 4px;
        top: 20px;
        border-width: 2px;
    }

    .menu-toggler>.menu-text {
        display: block;
        position: absolute;
        bottom: -18px;
        left: 0;
        border: 1px solid transparent;
        border-width: 9px 42px;
        border-top-color: #444;
    }

    .menu-toggler>.menu-text:after {
        display: block;
        color: #FFF;
        content: "MENU";
        position: absolute;
        left: -8px;
        top: -41px;
    }

    .nav-list>li.active:after {
        display: none;
    }

    .nav-list li.active>a:after {
        display: none;
    }

    .nav-list li.active.open>.submenu>li.active>a:after {
        display: none;
    }

    .menu-min .nav-list>li.active:after {
        display: block;
    }

    .menu-min .nav-list>li.active>a:after {
        display: block;
    }
}

@media only screen and (max-width:320px) {
    .menu-toggler {
        width: 0;
    }

    .menu-toggler>.menu-text {
        border-width: 7px 16px;
        bottom: -14px;
    }

    .menu-toggler>.menu-text:after {
        font-size: 9px;
        font-weight: normal;
        color: #FFF;
        position: absolute;
        left: -13px;
        top: -42px;
    }

    .menu-toggler:before,.menu-toggler:after {
        margin-top: 8px;
    }

    .menu-toggler.display:before,.menu-toggler.display:after {
        height: 2px;
        border-width: 1px;
    }

    .menu-toggler.display:before {
        top: 13px;
    }

    .menu-toggler.display:after {
        top: 19px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::safari-only,.label:empty {
        display: inline-block;
    }

    ::safari-only,.badge:empty {
        display: inline-block;
    }
}

@media only screen and (max-width:767px) {
    .help-inline,.input-icon+.help-inline {
        padding-left: 0;
        display: block!important;
    }
}

@media only screen and (max-width:767px) {
    .widget-box {
        margin-top: 7px;
        margin-bottom: 7px;
    }
}

@media only screen and (max-width:460px) {
    .infobox {
        min-width: 95%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

@media only screen and (max-width:768px) {
    .pricing-box {
        margin: 0;
        margin-bottom: 16px;
        padding-left: 0!important;
        padding-right: 0!important;
        margin-left: -1px;
    }

    .pricing-box:nth-child(odd) {
        padding-left: 12px!important;
    }

    .pricing-box:nth-child(even) {
        padding-right: 12px!important;
    }
}

@media only screen and (max-width:460px) {
    .pricing-box {
        margin: 0;
        margin-bottom: 16px;
        width: 100%;
        padding-left: 12px!important;
        padding-right: 12px!important;
    }
}


@media only screen and (min-width:481px) {
    .pricing-span-body {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width:480px) {
    .pricing-span-header,.pricing-span-body {
        width: 100%;
        padding-right: 12px;
    }
}

@media only screen and (max-width:480px) {
    .login-layout .widget-box .widget-main {
        padding: 16px;
    }
}

@media only screen and (max-width:480px) {
    .login-container {
        width: 98%;
    }

    .login-layout .widget-box {
        padding: 0;
    }

    .login-box .toolbar>div {
        width: auto;
    }
}

@media only screen and (max-width:767px) {
    .login-layout .widget-box.visible {
        -webkit-transition: none;
        transition: none;
    }
}

@media only screen and (max-width:480px) {
    .ace-thumbnails {
        text-align: center;
    }

    .ace-thumbnails>li {
        float: none;
        display: inline-block;
    }
}

@media only screen and (max-width:480px) {
    .itemdiv.memberdiv {
        float: none;
        width: auto;
    }
}


@media only screen and (max-width:480px) {
    .profile-info-name {
        width: 80px;
    }

    .profile-info-value {
        margin-left: 90px;
    }

    .profile-user-info-striped .profile-info-name {
        position: static;
        width: auto;
        text-align: left;
        padding: 6px 0 6px 10px;
    }

    .profile-user-info-striped .profile-info-value {
        margin-left: 10px;
    }
}

@media only screen and (max-width:480px) {
    .user-profile .memberdiv {
        width: 50%;
        margin-left: 0;
        margin-right: 0;
    }
}


@media only screen and (max-width:475px) {
    .inbox-tabs>.li-new-mail {
        display: block;
        text-align: right;
        margin-bottom: 8px!important;
        float: none!important;
    }

    .inbox-tabs>.li-new-mail>.btn-new-mail {
        display: inline-block;
        width: auto;
    }
}


@media only screen and (max-width:979px) {
    .message-item .summary {
        min-width: 0;
    }

    .message-item .sender {
        width: 100px;
    }
}

@media only screen and (max-width:550px) {
    .message-item .summary {
        margin: 8px 0 0 32px;
        max-width: 95%;
        min-width: 0;
        display: block;
    }

    .message-item .sender {
        width: auto;
        max-width: 150px;
    }

    .message-item .summary .text {
        max-width: 95%;
    }
}

@media only screen and (max-width:480px) {
    .message-bar {
        display: block;
        min-height: 60px;
    }
}

@media only screen and (max-width:480px) {
    .message-form {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media only screen and (max-width:480px) {
    .message-condensed .message-bar {
        min-height: 42px;
    }
}

@media only screen and (max-width:767px) {
    .inbox-folders.inbox-folders-responsive .btn-block {
        width: 24%;
    }
}

@media only screen and (max-width:600px) {
    .inbox-folders.inbox-folders-responsive .btn-block {
        width: 48%;
    }
}

@media only screen and (max-width:320px) {
    .inbox-folders.inbox-folders-responsive .btn-block {
        width: 99%;
    }
}

@media only screen and (max-width:480px) {
    .fc-header td {
        display: block;
        width: auto;
        text-align: left;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-resolution:144dpi) {
    .chosen-rtl .chosen-search input[type="text"],.chosen-container-single .chosen-single abbr,.chosen-container-single .chosen-single div b,.chosen-container-single .chosen-search input[type="text"],.chosen-container-multi .chosen-choices li.search-choice .search-choice-close,.chosen-container .chosen-results-scroll-down span,.chosen-container .chosen-results-scroll-up span {
        background-image: none!important;
        background-repeat: no-repeat!important;
        background-size: auto!important;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi) {
    .select2-search input,.select2-search-choice-close,.select2-container .select2-choice abbr,.select2-container .select2-choice div b {
        background-image: none!important;
        background-size: auto!important;
    }

    .select2-search input {
        background-position: auto!important;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi) {
    .select2-search input,.select2-search-choice-close,.select2-container .select2-choice abbr,.select2-container .select2-choice .select2-arrow b {
        background-image: none!important;
        background-repeat: no-repeat!important;
        background-size: auto!important;
    }

    .select2-search input {
        background-position: auto!important;
    }
}

@media only screen and (max-width:767px) {
    .wizard-steps li .step {
        width: 30px;
        height: 30px;
        line-height: 24px;
        border-width: 3px;
    }

    .wizard-steps li:before,.wizard-steps li:after {
        border-width: 3px;
    }

    .wizard-steps li.complete .step:before {
        line-height: 24px;
        font-size: 13px;
    }

    .wizard-steps li:before {
        top: 16px;
    }

    .step-content .step-pane {
        padding: 4px 4px 6px;
    }
}

@media only screen and (max-width:767px) {
    .gritter-center {
        left: 16%;
        right: 16%;
        top: 30%;
    }
}

@media only screen and (max-width:480px) {
    .gritter-center {
        left: 30px;
        right: 30px;
    }
}

@media only screen and (max-width:320px) {
    .gritter-center {
        left: 10px;
        right: 10px;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .wysiwyg-editor img {
        display: inline!important;
    }

    .wysiwyg-editor .ui-wrapper {
        border: 1px dotted #D00;
        overflow: visible!important;
        display: inline-block!important;
        vertical-align: middle;
    }

    .wysiwyg-editor .ui-wrapper:after {
        content: "";
        display: block;
        position: absolute;
        right: -3px;
        bottom: -3px;
        width: 7px;
        height: 7px;
        border: 1px solid #D00;
        background-color: #FFF;
        z-index: 1;
    }
}

@media(min-width:768px) {
    .main-container.container>.btn-scroll-up {
        right: auto;
        margin-left: 708px;
    }
}

@media(min-width:992px) {
    .main-container.container>.btn-scroll-up {
        right: auto;
        margin-left: 928px;
    }
}

@media(min-width:1200px) {
    .main-container.container>.btn-scroll-up {
        right: auto;
        margin-left: 1128px;
    }
}


@media(min-width:768px) {
    .col-sm-reset {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
}

@media(min-width:992px) {
    .col-md-reset {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
}

@media(min-width:1200px) {
    .col-lg-reset {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
}


@media only screen and (max-width:480px) {
    .hidden-480 {
        display: none!important;
    }
}

@media only screen and (max-width:320px) {
    .hidden-320 {
        display: none!important;
    }
}

@media only screen and (max-width:480px) {
    [class*="vspace-xs"] {
        display: block;
    }
}

@media only screen and (max-width:767px) {
    [class*="vspace-sm"] {
        display: block;
    }
}

@media only screen and (max-width:991px) {
    [class*="vspace-md"] {
        display: block;
    }
}

@media only screen and (max-width:1199px) {
    [class*="vspace-lg"] {
        display: block;
    }
}

@media only screen and (max-width:991px) {
    .main-content {
        margin-left: 0!important;
    }
}

@media only screen and (max-width:767px) {
    .page-content {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media(max-width:991px) {
    body.breadcrumbs-fixed {
        padding-top: 45px;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }

    .sidebar.fixed,.sidebar.sidebar-fixed {
        position: absolute;
    }
}

@media(max-width:460px) {
    body.navbar-fixed {
        padding-top: 90px;
    }
}

@media only screen and (max-width:767px) {
    .error-container {
        margin: 12px;
    }
}

@media only screen and (max-width:480px) {
    .error-container {
        margin: 6px;
    }
}

@media only screen and (max-width:360px) {
    .grid2,.grid3,.grid4 {
        float: none;
        display: block;
        width: 96%;
        border-left: none;
        position: relative;
        margin-bottom: 11px;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 4px;
    }

    .grid2>[class*="pull-"],.grid3>[class*="pull-"],.grid4>[class*="pull-"] {
        float: none!important;
        display: inline-block;
        position: absolute;
        right: 11px;
        top: 0;
        margin-top: 0;
    }

    .grid2:last-child,.grid3:last-child,.grid4:last-child {
        border-bottom: 0;
    }
}

@media only screen and (max-width:480px) {
    .ace-settings-container,body.breadcrumbs-fixed .ace-settings-container {
        top: 65px;
    }
}


@media(min-width:768px) {
    .rtl [class*="col-sm-"] {
        float: right;
    }
}

@media(min-width:992px) {
    .rtl [class*="col-md-"] {
        float: right;
    }
}

@media(min-width:1200px) {
    .rtl [class*="col-lg-"] {
        float: right;
    }
}

@media(min-width:768px) {
    .rtl [class*="col-sm-push-"] {
        left: auto;
    }

    .rtl [class*="col-sm-pull-"] {
        right: auto;
    }

    .rtl [class*="col-sm-offset-"] {
        margin-left: auto;
    }

    .rtl .col-sm-push-1 {
        right: 8.33333%;
    }

    .rtl .col-sm-push-2 {
        right: 16.6666%;
    }

    .rtl .col-sm-push-3 {
        right: 25%;
    }

    .rtl .col-sm-push-4 {
        right: 33.3333%;
    }

    .rtl .col-sm-push-5 {
        right: 41.6666%;
    }

    .rtl .col-sm-push-6 {
        right: 50%;
    }

    .rtl .col-sm-push-7 {
        right: 58.3333%;
    }

    .rtl .col-sm-push-8 {
        right: 66.6666%;
    }

    .rtl .col-sm-push-9 {
        right: 75%;
    }

    .rtl .col-sm-push-10 {
        right: 83.3333%;
    }

    .rtl .col-sm-push-11 {
        right: 91.6666%;
    }

    .rtl .col-sm-pull-1 {
        left: 8.33333%;
    }

    .rtl .col-sm-pull-2 {
        left: 16.6666%;
    }

    .rtl .col-sm-pull-3 {
        left: 25%;
    }

    .rtl .col-sm-pull-4 {
        left: 33.3333%;
    }

    .rtl .col-sm-pull-5 {
        left: 41.6666%;
    }

    .rtl .col-sm-pull-6 {
        left: 50%;
    }

    .rtl .col-sm-pull-7 {
        left: 58.3333%;
    }

    .rtl .col-sm-pull-8 {
        left: 66.6666%;
    }

    .rtl .col-sm-pull-9 {
        left: 75%;
    }

    .rtl .col-sm-pull-10 {
        left: 83.3333%;
    }

    .rtl .col-sm-pull-11 {
        left: 91.6666%;
    }

    .rtl .col-sm-offset-1 {
        margin-right: 8.33333%;
    }

    .rtl .col-sm-offset-2 {
        margin-right: 16.6666%;
    }

    .rtl .col-sm-offset-3 {
        margin-right: 25%;
    }

    .rtl .col-sm-offset-4 {
        margin-right: 33.3333%;
    }

    .rtl .col-sm-offset-5 {
        margin-right: 41.6666%;
    }

    .rtl .col-sm-offset-6 {
        margin-right: 50%;
    }

    .rtl .col-sm-offset-7 {
        margin-right: 58.3333%;
    }

    .rtl .col-sm-offset-8 {
        margin-right: 66.6666%;
    }

    .rtl .col-sm-offset-9 {
        margin-right: 75%;
    }

    .rtl .col-sm-offset-10 {
        margin-right: 83.3333%;
    }

    .rtl .col-sm-offset-11 {
        margin-right: 91.6666%;
    }
}

@media(min-width:992px) {
    .rtl [class*="col-md-push-"] {
        left: auto;
    }

    .rtl [class*="col-md-pull-"] {
        right: auto;
    }

    .rtl [class*="col-md-offset-"] {
        margin-left: auto;
    }

    .rtl .col-md-push-1 {
        right: 8.33333%;
    }

    .rtl .col-md-push-2 {
        right: 16.6666%;
    }

    .rtl .col-md-push-3 {
        right: 25%;
    }

    .rtl .col-md-push-4 {
        right: 33.3333%;
    }

    .rtl .col-md-push-5 {
        right: 41.6666%;
    }

    .rtl .col-md-push-6 {
        right: 50%;
    }

    .rtl .col-md-push-7 {
        right: 58.3333%;
    }

    .rtl .col-md-push-8 {
        right: 66.6666%;
    }

    .rtl .col-md-push-9 {
        right: 75%;
    }

    .rtl .col-md-push-10 {
        right: 83.3333%;
    }

    .rtl .col-md-push-11 {
        right: 91.6666%;
    }

    .rtl .col-md-pull-1 {
        left: 8.33333%;
    }

    .rtl .col-md-pull-2 {
        left: 16.6666%;
    }

    .rtl .col-md-pull-3 {
        left: 25%;
    }

    .rtl .col-md-pull-4 {
        left: 33.3333%;
    }

    .rtl .col-md-pull-5 {
        left: 41.6666%;
    }

    .rtl .col-md-pull-6 {
        left: 50%;
    }

    .rtl .col-md-pull-7 {
        left: 58.3333%;
    }

    .rtl .col-md-pull-8 {
        left: 66.6666%;
    }

    .rtl .col-md-pull-9 {
        left: 75%;
    }

    .rtl .col-md-pull-10 {
        left: 83.3333%;
    }

    .rtl .col-md-pull-11 {
        left: 91.6666%;
    }

    .rtl .col-md-offset-1 {
        margin-right: 8.33333%;
    }

    .rtl .col-md-offset-2 {
        margin-right: 16.6666%;
    }

    .rtl .col-md-offset-3 {
        margin-right: 25%;
    }

    .rtl .col-md-offset-4 {
        margin-right: 33.3333%;
    }

    .rtl .col-md-offset-5 {
        margin-right: 41.6666%;
    }

    .rtl .col-md-offset-6 {
        margin-right: 50%;
    }

    .rtl .col-md-offset-7 {
        margin-right: 58.3333%;
    }

    .rtl .col-md-offset-8 {
        margin-right: 66.6666%;
    }

    .rtl .col-md-offset-9 {
        margin-right: 75%;
    }

    .rtl .col-md-offset-10 {
        margin-right: 83.3333%;
    }

    .rtl .col-md-offset-11 {
        margin-right: 91.6666%;
    }
}

@media(min-width:1200px) {
    .rtl [class*="col-lg-push-"] {
        left: auto;
    }

    .rtl [class*="col-lg-pull-"] {
        right: auto;
    }

    .rtl [class*="col-lg-offset-"] {
        margin-left: auto;
    }

    .rtl .col-lg-push-1 {
        right: 8.33333%;
    }

    .rtl .col-lg-push-2 {
        right: 16.6666%;
    }

    .rtl .col-lg-push-3 {
        right: 25%;
    }

    .rtl .col-lg-push-4 {
        right: 33.3333%;
    }

    .rtl .col-lg-push-5 {
        right: 41.6666%;
    }

    .rtl .col-lg-push-6 {
        right: 50%;
    }

    .rtl .col-lg-push-7 {
        right: 58.3333%;
    }

    .rtl .col-lg-push-8 {
        right: 66.6666%;
    }

    .rtl .col-lg-push-9 {
        right: 75%;
    }

    .rtl .col-lg-push-10 {
        right: 83.3333%;
    }

    .rtl .col-lg-push-11 {
        right: 91.6666%;
    }

    .rtl .col-lg-pull-1 {
        left: 8.33333%;
    }

    .rtl .col-lg-pull-2 {
        left: 16.6666%;
    }

    .rtl .col-lg-pull-3 {
        left: 25%;
    }

    .rtl .col-lg-pull-4 {
        left: 33.3333%;
    }

    .rtl .col-lg-pull-5 {
        left: 41.6666%;
    }

    .rtl .col-lg-pull-6 {
        left: 50%;
    }

    .rtl .col-lg-pull-7 {
        left: 58.3333%;
    }

    .rtl .col-lg-pull-8 {
        left: 66.6666%;
    }

    .rtl .col-lg-pull-9 {
        left: 75%;
    }

    .rtl .col-lg-pull-10 {
        left: 83.3333%;
    }

    .rtl .col-lg-pull-11 {
        left: 91.6666%;
    }

    .rtl .col-lg-offset-1 {
        margin-right: 8.33333%;
    }

    .rtl .col-lg-offset-2 {
        margin-right: 16.6666%;
    }

    .rtl .col-lg-offset-3 {
        margin-right: 25%;
    }

    .rtl .col-lg-offset-4 {
        margin-right: 33.3333%;
    }

    .rtl .col-lg-offset-5 {
        margin-right: 41.6666%;
    }

    .rtl .col-lg-offset-6 {
        margin-right: 50%;
    }

    .rtl .col-lg-offset-7 {
        margin-right: 58.3333%;
    }

    .rtl .col-lg-offset-8 {
        margin-right: 66.6666%;
    }

    .rtl .col-lg-offset-9 {
        margin-right: 75%;
    }

    .rtl .col-lg-offset-10 {
        margin-right: 83.3333%;
    }

    .rtl .col-lg-offset-11 {
        margin-right: 91.6666%;
    }
}

@media only screen and (max-width:460px) {
    .rtl .pricing-box,.rtl .pricing-box:nth-child(odd),.rtl .pricing-box:nth-child(even) {
        padding-left: 12px!important;
        padding-right: 12px!important;
    }
}

@media only screen and (max-width:768px) {
    .rtl .pricing-box:nth-child(odd) {
        padding-right: 12px!important;
        padding-left: 0!important;
    }

    .rtl .pricing-box:nth-child(even) {
        padding-left: 12px!important;
        padding-right: 0!important;
    }
}

@media only screen and (max-width:475px) {
    .rtl .inbox-tabs>.li-new-mail {
        text-align: left;
    }
}

@media only screen and (max-width:767px) {
    .rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu {
        right: auto;
        left: -80px;
    }

    .rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu:after {
        right: auto;
        left: 100px;
    }

    .rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu {
        right: auto;
        left: -40px;
    }

    .rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu:after {
        right: auto;
        left: 60px;
    }
}

@media only screen and (max-width:480px) {
    .rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu {
        right: auto;
        left: -120px;
    }

    .rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu:after {
        right: auto;
        left: 140px;
    }

    .rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu {
        right: auto;
        left: -80px;
    }

    .rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu:after {
        right: auto;
        left: 100px;
    }

    .rtl .ace-nav>li:nth-last-child(2)>.dropdown-menu {
        right: auto;
        left: -50px;
    }

    .rtl .ace-nav>li:nth-last-child(2)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(2)>.dropdown-menu:after {
        right: auto;
        left: 70px;
    }
}

@media only screen and (max-width:460px) {
    .rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu {
        left: auto;
        right: -5px;
    }

    .rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(4)>.dropdown-menu:after {
        left: auto;
        right: 25px;
    }

    .rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu {
        left: auto;
        right: -60px;
    }

    .rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(3)>.dropdown-menu:after {
        left: auto;
        right: 80px;
    }

    .rtl .ace-nav>li:nth-last-child(2)>.dropdown-menu {
        left: auto;
        right: -110px;
    }

    .rtl .ace-nav>li:nth-last-child(2)>.dropdown-menu:before,.rtl .ace-nav>li:nth-last-child(2)>.dropdown-menu:after {
        left: auto;
        right: 130px;
    }
}

@media only screen and (max-width:460px) {
    .rtl .ace-nav>li {
        text-align: right;
        float: none!important;
    }

    .rtl .ace-nav>li:first-child {
        border-left: none;
        border-right: 1px solid #DDD;
    }

    .rtl .ace-nav>li:last-child {
        border-left: 1px solid #DDD;
    }
}

@media(min-width:422px) and (max-width:480px),(max-width:340px) {
    .rtl .ace-nav .nav-user-photo {
        margin-left: 0;
    }

    .rtl .user-info {
        margin-left: auto;
        right: auto;
        margin-right: 1px;
        left: 2px;
    }
}

@media only screen and (max-width:767px) {
    .rtl .nav-search {
        right: auto;
        left: 5px;
    }
}

@media only screen and (max-width:991px) {
    .rtl .navbar-brand {
        margin-right: 0;
    }

    .rtl .sidebar {
        left: auto;
        box-shadow: -2px 1px 2px 0 rgba(0,0,0,0.2);
        border-left-width: 1px;
        border-right-width: 0;
    }

    .rtl .sidebar.display,.rtl .sidebar.menu-min.display {
        left: auto;
        right: 0;
    }

    .rtl .sidebar.menu-min {
        left: auto;
        right: -50px;
    }

    .rtl .main-content {
        margin-left: auto!important;
        margin-right: 0!important;
    }

    .rtl .menu-toggler {
        left: auto;
        margin-right: auto;
        right: 0;
        margin-left: 2px;
        padding-left: 0;
        padding-right: 33px;
    }

    .rtl .menu-toggler:before {
        left: auto;
        right: 4px;
    }

    .rtl .menu-toggler:after {
        left: auto;
        right: 4px;
    }

    .rtl .menu-toggler>.menu-text {
        left: auto;
        right: 0;
    }

    .rtl .menu-toggler>.menu-text:after {
        left: auto;
        right: -8px;
    }

    .rtl .breadcrumb {
        margin-left: auto;
        margin-right: 90px;
    }
}

@media only screen and (max-width:460px) {
    .rtl .navbar .navbar-brand {
        display: block;
        float: none;
    }
}

@media only screen and (max-width:480px) {
    .rtl .ace-thumbnails>li {
        float: none;
    }
}

@media only screen and (max-width:320px) {
    .rtl .breadcrumb {
        margin-left: 0;
        margin-right: 36px;
    }

    .rtl .menu-toggler>.menu-text:after {
        left: auto;
        right: -13px;
    }
}

@media only screen and (max-width:480px) {
    .rtl .fc-header td {
        text-align: right;
    }
}

@media only screen and (max-width:360px) {
    .rtl .grid2,.rtl .grid3,.rtl .grid4 {
        border-right: 0;
    }

    .rtl .grid2>[class*="pull-"],.rtl .grid3>[class*="pull-"],.rtl .grid4>[class*="pull-"] {
        right: auto;
        left: 11px;
    }
}

@media only screen and (max-width:767px) {
    .rtl .help-inline,.rtl .input-icon+.help-inline {
        padding-right: 0;
    }
}

@media only screen and (max-width:480px) {
    .rtl .profile-info-value {
        margin-left: auto;
        margin-right: 90px;
    }

    .rtl .profile-user-info-striped .profile-info-name {
        padding-right: 10px;
        padding-left: 0;
        text-align: right;
    }

    .rtl .profile-user-info-striped .profile-info-value {
        margin-left: auto;
        margin-right: 10px;
    }
}