body
{
	background:#6a5c3b;
	color:#000;
	font-color:#000;
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	margin:0;
	padding:0;
}

table
{
	color:#452f27;
	font-size:100%;
}

a
{
	color:green;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}

img
{
	border:none;
	vertical-align:middle;
}

p
{
	line-height:1.5em;
	margin:.4em 0 .5em;
}

p img
{
	margin:0;
}

hr
{
	background:#aaa;
	border:0;
	color:#aaa;
	height:1px;
	margin:.2em 0;
}

h1,h2,h3,h4,h5,h6
{
	border-bottom:1px solid #beac83;
	color:#452f27;
	font-weight:400;
	margin:0;
	padding-bottom:.17em;
	padding-top:.5em;
}

h1
{
	font-size:188%;
}

h2
{
	font-size:150%;
}

h3,h4,h5,h6
{
	border-bottom:none;
	font-weight:700;
}

h3
{
	font-size:132%;
}

h4
{
	font-size:116%;
}

h5
{
	font-size:100%;
}

h6
{
	font-size:80%;
}

ul
{
	line-height:1.3em;
	list-style-image:url(bullet.gif);
	list-style-type:square;
	margin:.3em 0 0 1.5em;
	padding:0;
}

ol
{
	line-height:1.5em;
	list-style-image:none;
	margin:.3em 0 0 3.2em;
	padding:0;
}

li
{
	margin-bottom:.1em;
}

dt
{
	font-weight:700;
	margin-bottom:.1em;
}

dl
{
	margin-bottom:.5em;
	margin-top:.2em;
}

dd
{
	line-height:1.5em;
	margin-bottom:.1em;
	margin-left:2em;
}

fieldset
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:none!important;
	border-radius:5px;
	float:left;
	line-height:1.5em;
	margin:1em 0;
	padding:5px!important;
	width:920px;
}

legend
{
	font-size:95%;
	padding:.5em;
}

form
{
	border:none;
	margin:0;
}

textarea
{
	padding:.1em;
	width:100%;
}

select
{
	vertical-align:top;
}

abbr,acronym,.explain
{
	border-bottom:1px dotted #000;
	color:#000;
	cursor:help;
}

code
{
	background:#d1ccca;
}

pre
{
	background:#d1ccca;
	border:1px dashed #2f6fab;
	color:#000;
	line-height:1.1em;
	padding:1em;
}

q,blockquote
{
	font-family:Times, "Times New Roman", serif;
	font-style:italic;
}

#content-wrapper
{
	font-size:.8em;
	margin:0 auto;
	padding:0;
	width:960px;
}

#toolbar
{
	height:25px;
}

ul#toolbar-buttons
{
	list-style:none;
}

#toolbar-buttons
{
	float:right;
}

#toolbar-buttons li
{
	-khtml-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#756540;
	border-radius:3px;
	float:left;
	font-size:.8em;
	margin:0 0 0 5px;
	padding:0 3px;
	text-align:left;
}

#toolbar-buttons li a
{
	color:#000;
	font-weight:700;
	text-decoration:none;
}

#header
{
	-khtml-border-top-left-radius:5px;
	-khtml-border-top-right-radius:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	background:#e2dac7;
	border-bottom:4px solid #ccba91;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	height:50px;
	padding:5px;
	text-align:left;
}

#logo
{
	float:left;
	height:50px;
	width:182px;
}

#logo a,#logo a:hover
{
	background:no-repeat;
	display:block;
	height:50px;
	text-decoration:none;
	width:182px;
}

#searchdesc
{
	color:#000;
	text-align:left;
	width:310px;
}

#searchform
{
	float:right;
	font-size:.8em;
	line-height:.8em;
	width:310px;
}

#searchbutton
{
	font-weight:700;
	padding-left:.5em;
	padding-right:.5em;
}

#searchinput
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#fff;
	border:none!important;
	border-radius:5px;
	color:#e2dac7;
	font-family:"DejaVu Sans", "Microsoft Sans Serif", verdana, sans-serif;
	font-size:1.8em;
	font-weight:700;
	margin:10px 0 5px;
	padding:3px;
	width:300px;
}

#menu *
{
	border:0;
	font-size:98%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}

#menu
{
	background:#a6ba00;
	border-top:4px solid #889800;
	float:left;
	font-size:1.25em;
	font-weight:500;
	height:50px;
	text-transform:uppercase;
	width:960px;
}

#menu ul
{
	background:#a6ba00;
	float:left;
	line-height:50px;
	margin-left:10px;
	padding:0 10px;
	position:relative;
}

#menu ul li
{
	display:inline;
	float:left;
}

#menu ul li a
{
	color:#FFF;
	display:block;
	float:left;
	outline:none;
	overflow:hidden;
	padding:0 10px;
	position:relative;
	text-align:center;
	text-decoration:none;
	text-shadow:-1px 1px 1px #444;
	z-index:10;
}

#menu ul li a:hover
{
	text-decoration:none;
}

#menu ul li.back
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#889800;
	border-radius:5px;
	height:28px;
	position:absolute;
	top:11px;
	width:9px;
	z-index:8;
}

#content
{
	background:#fff;
	color:#452f27;
	float:left;
	margin:0;
	padding:10px 10px 30px;
}

.visualClear
{
	clear:both;
}

.hidden
{
	display:none;
}

#actions ul
{
	float:right;
	list-style:none;
	margin:10px 0;
}

#actions li
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#e2dac7;
	border-radius:5px;
	display:inline;
	padding:3px;
}

#actions li a
{
	color:#452f27;
	text-decoration:none;
}

#actions li a:hover
{
	text-decoration:none;
}

#real-content p
{
	font-size:1.25em;
}

#intro
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#f5eedf;
	border-radius:5px;
	color:#000;
	float:left;
	height:330px;
	margin:10px;
	padding:5px;
	text-align:justify;
	width:30%;
}

.chiclet
{
	-khtml-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#e2dac7;
	border-radius:5px;
	color:#000;
	float:left;
	margin:10px;
	padding:5px;
	text-align:left;
	width:50%;
}

.chiclet a
{
	color:#756540!important;
	font-size:1.7em;
	font-weight:900;
	line-height:.8em;
	margin:5px;
}

.chiclet a:hover
{
	color:#ab9b75!important;
	text-decoration:none;
}

#footlinks
{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#D6E26E;
	color:#A6BA00;
	margin:20px 0;
	padding:5px;
	text-align:center;
}

#footer
{
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	background:#A6BA00;
	border-top:4px solid #889800;
	clear:both;
	color:#D6E26E;
	float:left;
	font-size:1.2em;
	margin-bottom:30px;
	padding:0 20px 40px;
	text-align:center;
	width:920px;
}

#footer a
{
	color:#889800;
	font-weight:900;
	text-decoration:none;
}

#footer a:hover
{
	color:#525C00;
	font-weight:900;
}



