<div class="row-fluid">
	<div class="span4">
	    <h4 class="lighter block blue">Change password</h4>
	    <hr />
	    <p>Después de introducir sus datos de usuario, usted podrá editar su información de perfil.</p>|
	    <form method="post" action="{% url 'user_password_change' %}">
	        {% csrf_token %}
	        <ul class="unstyled">
		        {% for field in form %}
	    			<li>{{ field }}</li>
				{% endfor %}
	        </ul>
	        <button class="btn btn-yellow btn-block" type="submit">Change password</button>
	        <input type="hidden" name="next" value="{{ next }}" />
	    </form>
	</div>
    <div class="span1"></div>
    <div class="span7">
        {% include 'user/form_errors.html' %}
    </div>	    
	</div>
</div>