<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset = 'UTF-8'/>
		<title> {% block titulo%} {%endblock%} </title>
	</head>
	<body>
		<header>
			{% block encabezado%} {%endblock%}
			<nav>
				<ul>
					<li> <a href="/paqueteria"> Inicio </a> </li>								
					<li> <a href="/paqueteria/busqueda/acroread"> busqueda</a></li>
				</ul>
			</nav>
			<hr/>
		</header>
		<section>
			{% block contenido%} {%endblock%}
		</section>
		<footer>
			<p> Esto es una prueba =D </p>
		</footer>
	</body>	
</html>