{%extends 'paqueteria/base.html'%}
{% load url from future %}
{% block title%}Sistema de busqueda{%endblock%}

{% block style %} 


{% endblock %}
{% block header%}<p><h1>Busqueda por arquitectura</h1></p>{%endblock%}
{%block content%}


<div class="well jumbotron">
	<div class="container">
		<div class="row-fluid">
			<div class="span9 hero-unit">
					{%block datos%} <h1>Descripcion <br>de paquetes de<br>canaima =D  <h1>{%endblock%}
			</div>
			<div class="span3">
					<form class="input" action="." method="POST">
						{% csrf_token %}
						{{form}}
						<input class = "btn" type="submit" value="Buscar">
					</form>
			</div>

			<div class="span3">
				<h1>LOGO</h1>
			</div>
	</div>
</div>
			
{%endblock%}