{%extends 'paqueteria/buscador.html'%}
{% load url from future %}
{% block title%}Sistéma de busqueda{%endblock%}
{%block style%}
	#margenes-separadores{
		size: 8px;	
	}
{%endblock%}
{%block datos%}
	<div >
		<legend> </legend>
			<h2 align="center">{{i.Package}}</h2>
		<legend> </legend>
	</div>
	<div id = "margenes-separadores"> 
	   <p> Version: {{i.Version}} </p>
	   <p> Tamaño: {{i.Size}} Kb</p>
	   <p> Tamaño instalado: {{i.InstalledSize}} Kb</p>
	   <p> SHA256: {{i.SHA256}}</p>
	   <p> SHA1: {{i.SHA1 }}</p>
	   <p> MD5sum: {{i.MD5sum }}</p>
	   <p> Descripcion: {{i.Description}}</p>
	   <p> Pagina: <a href="{{i.Homepage}}">{{i.Homepage }}</a></p>
	   <p> Descripcion MD5: {{i.DescriptionMD5}}</p>
	   <p> Etiquetas:{%for etiqueta in i.Tags.only%} <a href="/paquetes/categoria/{{etiqueta.nombre}}"> {{etiqueta.nombre}}</a>:<a href="/paquetes/tags/{{etiqueta.valores.valor}}">{{etiqueta.valores.valor}}</a> {%endfor%}</p>
	   
	   {% if enhances %}
		   <p> Mejora:
		   {%for x in enhances %}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if breaks %}
		   <p> Rompe:
		   {%for x in breaks%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if replaces %}
		   <p> Reemplaza:
		   {%for x in replaces%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if conflicts %}
		   <p> Conflictos:
		   {%for x in conflicts%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if provides%}
		   <p> Paqueteves provistos:
		   {%for x in provides%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if suggests%}
		   <p> Sugerencias:
		   {%for x in suggests%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if recommends%}
		   <p> Recomendaciones:
		   {%for x in recommends%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
		   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {% if predepends%}
		   <p> Predependencias:
			   {%for x in predepends.only%}
					<a href="/paquetes/busqueda/{{i.Architecture}}/{{x}}" >{{x}}</a>
			   {% endfor %}
		   </p>
	   {% endif %}
	   
	   {%if depends%}
		   <p> dependencias:
		   {%for x in depends%}
				<a href="/paquetes/busqueda/{{i.Architecture}}/{{x.Package}}" >{{x}}</a>
		   {% endfor %}
	   {%endif%}
	   
	   </p>
	   
	   <p> Mantenedor: {{i.Maintainer}} </p>
	   <p> Seccion: {{i.Section }}</p>
	   <p> Prioridad: {{i.Priority }}</p>
	   <p> Nombre de archivo: {{i.Filename}} </p>
	   <p> Arquitectura: {{i.Architecture}} </p>
	</div>
{%endblock%}