{%extends 'paqueteria/buscador.html'%}
{% load url from future %}
{% block title%}Sistéma de busqueda{%endblock%}
{%block style%}

	#margenes-separadores{

	size: 8px;	
}


{%endblock%}
{%block datos%}

	<div >
		<legend></legend>
			<h2 align="center">{{i.Package}}</h2>
		<legend></legend>
	</div>
	<div id = "margenes-separadores"> 
	   <p> Version: {{i.Version}} </p>
	   <p> Tamaño: {{i.Size}} Kb</p>
	   <p> Tamaño instalado: {{i.InstalledSize}} Kb</p>
	   <p> SHA256: {{i.SHA256}}</p>
	   <p> SHA1: {{i.SHA1 }}</p>
	   <p> MD5sum: {{i.MD5sum }}</p>
	   <p> Descripcion: {{i.Description}}</p>
	   <p> Pagina: <a href="{{i.Homepage}}">{{i.Homepage }}</a></p>
	   <p> Descripcion MD5: {{i.DescriptionMD5}}</p>
	   <p> Etiquetas:{%for etiqueta in i.Tags.only%} <a href="/paqueteria/categoria/{{etiqueta.nombre}}"> {{etiqueta.nombre}}</a>:<a href="/paqueteria/tags/{{etiqueta.valores.valor}}">{{etiqueta.valores.valor}}</a> {%endfor%}</p>	   
	   <p> Mejora:
	   {%for x in i.Enhances.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   </p>
	   <p> Rompe:
	   {%for x in i.Breaks.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   </p>
	   
	   <p> Reemplaza:
	   {%for x in i.Replaces.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   </p>
	   
	   <p> Conflictos:
	   {%for x in i.Conflicts.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   </p>
	   
	   <p> Paqueteves provistos:
	   {%for x in i.ProvidesS.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   
	   {%for x in i.ProvidesO.only%}
	   		<span class="or" >
	   		{%for m in x.dep.only%}	
				<a href= "/paqueteria/busqueda/{{m}}">{{m}}</a>
			{% endfor %}
			</span>
	   {% endfor %}
	   </p>
	   
	   <p> Sugerencias:
	   {%for x in i.SuggestsS.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   
	   {%for x in i.SuggestsO.only%}
	   		<span class="or" >
	   		{%for m in x.dep.only%}	
				<a href= "/paqueteria/busqueda/{{m}}">{{m}}</a>
			{% endfor %}
			</span>
	   {% endfor %}
	   </p>
	  
	   <p> Recomendaciones:
	   {%for x in i.RecommendsS.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   
	   {%for x in i.RecommendsO.only%}
	   		<span class="or" >
	   		{%for m in x.dep.only%}	
				<a href= "/paqueteria/busqueda/{{m}}">{{m}}</a>
			{% endfor %}
			</span>
	   {% endfor %}
	   </p>
	   
	   <p> Predependencias:
	   {%for x in i.PreDependsS.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   
	   {%for x in i.PreDependsO.only%}
	   		<span class="or" >
	   		{%for m in x.dep.only%}	
				<a href= "/paqueteria/busqueda/{{m}}">{{m}}</a>
			{% endfor %}
			</span>
	   {% endfor %}
	   
	   </p>
	   <p> dependencias:
	   {%for x in i.DependsS.only%}
			<a href="/paqueteria/busqueda/{{x}}" >{{x}}</a>
	   {% endfor %}
	   
	   {%for x in i.DependsO.only%}
	   		<span class="or" >
	   		{%for m in x.dep.only%}
				<a href= "/paqueteria/busqueda/{{m}}">{{m}}</a>
			{% endfor %}
			</span>
	   {% endfor %}
	   </p>
	   <p> Mantenedor: {{i.Maintainer}} </p>
	   <p> Seccion: {{i.Section }}</p>
	   <p> Prioridad: {{i.Priority }}</p>
	   <p> Nombre de archivo: {{i.Filename}} </p>
	   <p> Arquitectura: {{i.Architecture}} </p>
	</div>
{%endblock%}