<!--{% load url from future %}
{% if ultima_lista_encuestas %}
<div>
<ul>
{% for encuesta in ultima_lista_encuestas %}
<li><a href="{% url 'encuestas:detalles' encuesta.id %}">{{ encuesta.pregunta }}</a></li>
{% endfor %}
</ul>
</div>
{% else %}
<p>No hay encuestas disponibles aún.</p>
{% endif %}

{% for i in blender%}
<div><p> el paquete es : {{ i.Package }}</p> </div>
<div> 
   <p> i.Version </p>
   <p> i.size </p>
   <p> i.InstalledSize </p>
   <p> i.SHA256 </p>
   <p> i.SHA1 </p>
   <p> i.MD5sum </p>
   <p> i.Description </p>
   <p> i.Homepage </p>
   <p> i.DescriptionMD5 </p>
   <p> i.Maintainer </p>
   <p> i.Section </p>
   <p> i.Priority </p>
   <p> i.Filename </p>
   <p> i.Architecture </p>
	 </div>

{%endfor%}
-->
{%extends 'base.html'%}

{% block titulo%} Inicio {%endblock%} 

{% block encabezado%} <h1> probando encabezado </h1> {%endblock%}


{% block contenido %}
<div>
	<p>prueba de contenido</p>
{%for i in pqt%} 
<a href= "{{i.Package}}"> {{ i.Package}} </a> 
{% endfor %}
</div>

{%endblock%}

<!--
<h1>{{ encuesta.pregunta }}</h1>
<ul>
{% for eleccion in encuesta.eleccion_set.all %}
<li>{{ eleccion.eleccion_text }}</li>
{% endfor %}
</ul>

-->



