{% extends "user/base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
<div class="well jumbotron">
	<div class="container">
        <div class="row-fluid">
	        <div class="span4">
		        <h3 class="lighter block blue">Reset your password</h3>
		        <hr />
                <p>Enter your new password below to reset your password:</p>
                {% if form.errors %}
		        <div class="alert alert-error">
		        	<strong>
				        <i class="icon-remove"></i> Oh snap!
			        </strong>
					<p>The operation could not be performed because one or more error(s) occurred. Please resubmit the form after making the following changes:</p>
					<ul>
			        {% if form.non_field_errors %}
                		{% for non_field_error in form.non_field_errors %}
                			<li>{{ non_field_error|striptags }}</li>
                		{% endfor %}
			        {% endif %}
			        {% for field in form %}
				        {% if field.errors %}
                			<li><strong>{{ field.label }}</strong> {{ field.errors|striptags }}</li>
                		{% endif %}
		            {% endfor %}
					</ul>
		        </div>
		        {% endif %}
                	<form method="post" action="{% url 'user_password_reset_complete' %}">
                    {% csrf_token %}
                    <ul class="unstyled">
				        {% for field in form %}
                			<li>{{ field }}</li>
            			{% endfor %}
                    </ul>
			        <button class="btn btn-yellow btn-block" type="submit">Set password</button>
			        <input type="hidden" name="next" value="{{ next }}" />
		        </form>
		    </div>
	        <div class="span1"></div>
	        <div class="span7 hero-unit">
                <p>algo aquí</p>
		    </div>
	    </div>
	</div>
</div>
{% endblock %}
