{% extends "user/base.html" %}
{% block title %}Sign up for an account{% endblock %}
{% block content %}
<div class="well jumbotron">
	<div class="login-container">
		<h3 class="lighter block blue">Sign up to Tribus</h3>
		<hr />
		<p>Después de introducir sus datos de usuario, usted podrá editar su información de perfil.</p>
		{% if error_title %}
		<div class="alert alert-error">
			<strong>
				<i class="icon-remove"></i>Oh snap! {{ error_title }}
			</strong>
			{% if form.non_field_errors %}
        		{% for non_field_error in form.non_field_errors %}
        			<p>{{ non_field_error }}</p>
        		{% endfor %}
			{% endif %}

			{% for field in form %}
				{% if field.errors %}
					{% for error in field.errors %}
        				<p>{{ error }}</p>
        			{% endfor %}
        		{% endif %}
		    {% endfor %}
		</div>
		{% endif %}
		<form method="post" action="{% url 'user_signup' %}">
            {% csrf_token %}
            <ul class="unstyled">
				{% for field in form %}
        			<li>
            		{{ field.label_tag }} {{ field }}
        			</li>
    			{% endfor %}
            </ul>
			<button class="btn btn-yellow btn-block" type="submit">Sign up</button>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}
