{% load i18n %}
<p>- <b>{% trans 'Version:'%} </b> {{arch.1.data.Version}} </p>
<p>- <b>{% trans 'Size:' %} </b> {{arch.1.data.Size}}</p>
<p>- <b>{% trans 'Installed Size:' %} </b> {{arch.1.data.InstalledSize}}</p>
<p>- <b>{% trans 'MD5sum:' %} </b> {{arch.1.data.MD5sum}}</p>
<!-- ARREGLAR URL DE DESCARGA: DEBE FUNCIONAR CON EL REPO EN PRODUCCION
	PERO EN DESARROLLO NO REDIRIGE A LOS ARCHIVOS DEL REPOSITORIO -->
<p>- <b><a href= "{{raiz}}/{{arch.1.data.Filename}}">{% trans 'Download' %}</a></b></p>
<legend> </legend>
{%for tipo in arch.1.relations.items %}
	{% include 'cloud/relations.html' %}
{% endfor %}
