{% load i18n %}
<span class="row-fluid">
	<span class="span12">
		<dl class="dl-horizontal">
		    <dt class="bigger-150">{% trans 'Version' %}</dt>
		    <dd class="bigger-150 lighter">{{ arch.data.Version }}</dd>
		</dl>
	</span>
</span>
{%for tipo in arch.1.relations.items %}
	{% include 'cloud/relations.html' %}
{% endfor %}
<span class="row-fluid">
		<span class="span12 center">
		{% trans 'You can download this version of the package by pressing on the following button' %}
		<!-- ARREGLAR URL DE DESCARGA: DEBE FUNCIONAR CON EL REPO EN PRODUCCION
			PERO EN DESARROLLO NO REDIRIGE A LOS ARCHIVOS DEL REPOSITORIO -->
        <a class="btn btn-sm btn-block btn-success" href="{{ raiz }}/{{ arch.data.Filename }}">
            <i class="icon-download-alt bigger-120"></i>
            <span class="bigger-110">{% trans 'Download package' %}</span>
        </a>
        
	</span>
</span>
<span class="row-fluid">
	<span class="span12">
		<dl class="dl-horizontal">
		    <dt class="bigger-150">{% trans 'Size' %}</dt>
		    <dd class="bigger-150 lighter">{% widthratio arch.data.Size 1024 1 %}KB</dd>
		    <dt class="bigger-150">{% trans 'Installed Size' %}</dt>
		    <dd class="bigger-150 lighter">{{ arch.data.InstalledSize }}KB</dd>
		    <dt class="bigger-150">{% trans 'MD5sum' %}</dt>
		    <dd class="bigger-150 lighter">{{ arch.data.MD5sum }}</dd>
		    <dt class="bigger-150"></dt>
		    <dd class="bigger-150 lighter smaller-90 line-height-1">{% trans 'This is the MD5sum of the file. You can use this to test the consistency of the package.' %}</dd>
		</dl>
	</span>
</span>
