{% extends 'cloud/base.html' %}
{% load i18n %}
{% block content %}
        <div class="jumbotron package-background">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span4"></div>
                    <div class="span6 section-slogan">
                        <h1>{% trans "Application Cloud" %}</h1>
                        <p>{% blocktrans %}The application cloud is a storage, integration and distribution system designed for the software stored in {{ tribus_distro }}. It allows {{ tribus_role_1 }}, {{ tribus_role_2 }} and {{ tribus_role_3 }} to empower their applications by using the cloud.{% endblocktrans %}</p>
                        <p>
                            <span class="hr32 block"></span>
                            <a href="/cloud/" class="btn btn-app btn-success disabled">
                                <i class="fa fa-cloud-upload bigger-230"></i>
                        			{% trans 'Upload a new application' %}
                                <span class="smaller-75 block">
                        			{% trans 'We are working on this feature' %}
                    			</span>
                            </a>
                            <span class="hr32 block"></span>
                            <a href="/cloud/l/index" class="btn btn-app btn-light">
                                <i class="fa fa-reorder bigger-230"></i>
                                {% trans 'List alphabetically' %}
                            </a>
                            <a href="/cloud/" class="btn btn-app btn-light disabled">
                                <i class="fa fa-reorder bigger-230"></i>
                                {% trans 'List by tag' %}
                                <span class="smaller-75 block">
                        			{% trans 'We are working on this feature' %}
                    			</span>
                            </a>
                            <a href="/cloud/" class="btn btn-app btn-light disabled">
                                <i class="fa fa-reorder bigger-230"></i>
                                {% trans 'List by category' %}
                                <span class="smaller-75 block">
                        			{% trans 'We are working on this feature' %}
                    			</span>
                            </a>
                            <span class="hr32 block"></span>

                            <a href="/cloud/" class="btn btn-app btn-yellow disabled">
                                <i class="fa fa-signal bigger-230"></i>
                                {% trans 'Show statistics' %}
                                <span class="smaller-75 block">
                        			{% trans 'We are working on this feature' %}
                    			</span>
                            </a>
                        </p>

                    </div>
                    <div class="span2"></div>
                </div>
            </div>
<!--             <div class="container-fluid" id="read_more">
                <span class="row-fluid">
                    <span class="span1"></span>
                    <span class="span2 bigger-300 align-center">
                        <i class="fa fa-gears bigger-300"></i>
                    </span>
                    <span class="span8 bigger-200 lighter">
                        ¿Cómo funciona?
                    </span>
                    <span class="span1"></span>
                </span>
                <span class="hr64 block"></span>
                <span class="row-fluid">
                    <span class="span1"></span>
                    <span class="span2 bigger-300 align-center">
                        <i class="fa fa-gears bigger-300"></i>
                    </span>
                    <span class="span8 bigger-200 lighter">
                        ¿?
                    </span>
                    <span class="span1"></span>
                </span>
                <span class="hr64 block"></span>
                <span class="row-fluid">
                    <span class="span1"></span>
                    <span class="span2 bigger-300 align-center">
                        <i class="fa fa-gears bigger-300"></i>
                    </span>
                    <span class="span8 bigger-200 lighter">
                        ¿?
                    </span>
                    <span class="span1"></span>
                </span>
                <span class="hr64 block"></span>
                <span class="row-fluid">
                    <span class="span1"></span>
                    <span class="span2 bigger-300 align-center">
                        <i class="fa fa-gears bigger-300"></i>
                    </span>
                    <span class="span8 bigger-200 lighter">
                        ¿?
                    </span>
                    <span class="span1"></span>
                </span>
            </div> -->
        </div>
{% endblock %}