{% load i18n %}
<legend> </legend>

{% if tipo.0 == "pre-depends" %}
	<p> * <b> {% trans 'pre-depends' %} </b> </p>
{% elif tipo.0 == "depends" %}
	<p> * <b> {% trans 'depends' %} </b> </p>
{% elif tipo.0 == "recommends" %}
	<p> * <b> {% trans 'recommends' %} </b> </p>
{% elif tipo.0 == "suggests" %}
	<p> * <b> {% trans 'suggests' %} </b> </p>
{% elif tipo.0 == "provides" %}
	<p> * <b> {% trans 'provides' %} </b> </p>
{% elif tipo.0 == "enhances" %}
	<p> * <b> {% trans 'enhances' %} </b> </p>
{% elif tipo.0 == "breaks" %}
	<p> * <b> {% trans 'breaks' %} </b> </p>
{% elif tipo.0 == "replaces" %}
	<p> * <b> {% trans 'replaces' %} </b> </p>
{% elif tipo.0 == "conflicts" %}
	<p> * <b> {% trans 'conflicts' %} </b> </p>
{% endif %}

<legend> </legend>
{% for relacion in tipo.1 %}
	{% if relacion.alt_id %}
		{% ifchanged relacion.alt_id %}
			{% if forloop.first %}
				<p><a href="{% url 'cloud_profile' relacion.related_package %}"> {{ relacion.related_package }}</a> {% if relacion.version %} ({{ relacion.relation }} {{ relacion.version }}) {% endif %} 
			{% else %}	
				</p><p> <a href="{% url 'cloud_profile' relacion.related_package %}"> {{ relacion.related_package }} </a> {% if relacion.version %} ({{ relacion.relation }} {{ relacion.version }}) {% endif %}
			{% endif %} 
		{% else %}
		    {% trans 'or' %} <a href="{% url 'cloud_profile' relacion.related_package %}"> {{ relacion.related_package }} </a> {% if relacion.version %} ({{ relacion.relation }} {{ relacion.version }}) {% endif %}
		{% endifchanged %}
	{% else %}
		<p> <a href="{% url 'cloud_profile' relacion.related_package %}"> {{ relacion.related_package }} </a> {% if relacion.version %} ({{ relacion.relation }} {{ relacion.version }}) {% endif %} </p>
	{% endif %}
{% endfor %}