{% load i18n %}
        <dl class="dl-horizontal">
            <dt class="bigger-110">
                {% if tipo.0 == "pre-depends" %}
                    {% trans 'Pre-Depends' %}
                {% elif tipo.0 == "depends" %}
                    {% trans 'Depends' %}
                {% elif tipo.0 == "recommends" %}
                    {% trans 'Recommends' %}
                {% elif tipo.0 == "suggests" %}
                    {% trans 'Suggests' %}
                {% elif tipo.0 == "provides" %}
                    {% trans 'Provides' %}
                {% elif tipo.0 == "enhances" %}
                    {% trans 'Enhances' %}
                {% elif tipo.0 == "breaks" %}
                    {% trans 'Breaks' %}
                {% elif tipo.0 == "replaces" %}
                    {% trans 'Replaces' %}
                {% elif tipo.0 == "conflicts" %}
                    {% trans 'Conflicts' %}
                {% endif %}
            </dt>
            <dd class="bigger-150 lighter">
            {% for relacion in tipo.1 %}
                {% if relacion.alt_id %}
                    {% ifchanged relacion.alt_id %}
                        {% if forloop.first %}
                            <p>
                                <a href="{% url 'cloud_profile' relacion.related_package %}" target="_blank">{{ relacion.related_package }}</a>
                                {% if relacion.version %}
                                    ({{ relacion.relation }} {{ relacion.version }})
                                {% endif %}
                        {% elif forloop.last %}  
                            </p>
                            <p>
                                <a href="{% url 'cloud_profile' relacion.related_package %}" target="_blank">{{ relacion.related_package }}</a>
                                {% if relacion.version %}
                                    ({{ relacion.relation }} {{ relacion.version }})
                                {% endif %}
                            </p>
                        {% else %}  
                            </p>
                            <p>
                                <a href="{% url 'cloud_profile' relacion.related_package %}" target="_blank">{{ relacion.related_package }}</a>
                                {% if relacion.version %}
                                    ({{ relacion.relation }} {{ relacion.version }})
                                {% endif %}
                        {% endif %} 
                    {% else %}
                        {% trans 'or' %}
                        <a href="{% url 'cloud_profile' relacion.related_package %}" target="_blank">{{ relacion.related_package }}</a>
                        {% if relacion.version %}
                            ({{ relacion.relation }} {{ relacion.version }})
                        {% endif %}
                    {% endifchanged %}
                {% else %}
                    <p>
                        <a href="{% url 'cloud_profile' relacion.related_package %}" target="_blank">{{ relacion.related_package }}</a>
                        {% if relacion.version %}
                            ({{ relacion.relation }} {{ relacion.version }})
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
            </dd>
        </dl>