{% extends 'twitter/base.html' %}
{% block titulo %}Twitter - {{ user.get_full_name }} (@{{ user.username }}){% endblock %}

{% block textarea %}@{{ user.username }} {% endblock %}
{% block contenido %}
<style>
.perfil-grande
{
	float: left;
	height: 75px;
	margin: 5px;
	width: 75px;
	border-radius: 15px;
}
</style>
<section>
	<header>
		<img src="{% if profile.avatar %}{{ profile.avatar }}{% else %}{{ STATIC_URL }}default.png{% endif %}" class="perfil-grande"><h2>{{ user.get_full_name }} (@{{ user.username }})</h2>
		<h3>{{ profile.ubicacion }}</h3>
		<p>
			{{ profile.frase|linebreaksbr }}
		</p><p>
			Joined on {{ user.date_joined }}<br>
			Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
		</p>
		{% if logueado.is_authenticated %}
		{% if logueado != user %}
			<form action="/twitter/follow/" method="post">
				{% csrf_token %}
				<input type="hidden" name="user" value="{{ user.username }}">
				<p>
					{% if following %}
						<input class="btn btn-danger" type="submit" value="Dejar de seguir">
					{% else %}
						<input class="btn btn-success" type="submit" value="Seguir">
					{% endif %}
				</p>
			</form>
		{% endif %}
		{% endif %}
		<div class="pagination">
			<ul>
				<li><a href="#tweets">{{ length }} tweet{{ length|pluralize }}</a></li>
				<li><a href="/twitter/seguidores/{{ user.username }}/">{{ seguidores|length }} seguidores</li></a>
				<li><a href="/twitter/siguiendo/{{ user.username }}/">{{ siguiendo|length }} siguiendo</li></a>
			</ul>
	</header>
</section>
{% comment %}<section id="tweets">
	{% if tweets|length %}
		<header id="tweets">
			<h2>Ultimos tweets</h2>
		</header>
		{% for tweet in tweets %}
			<article>
				<header>
					<h3>{{ tweet.user.get_full_name }} (<a href="/twitter/profile/{{ tweet.user }}">@{{ tweet.user }}</a>)</h3>
				</header>
				{{ tweet.filtrar|safe|linebreaksbr }}
				<footer>
					<p>
						{% if tweet.retwitteado %}
							<strong>Retwitteado por <a href="/twitter/profile/{{ tweet.retweetter }}/">@{{ tweet.retweetter }}</a></strong>
							{% if tweet.retweetter == logueado %}<a href="/twitter/borrar/{{ tweet.rt_id }}/"><i class="icon-trash"></i>Deshacer retweet</a>{% endif %}<br>
						{% endif %}
						{% if tweet.respuesta %}
							<a href="/twitter/conversacion/{{ tweet.id }}/">Ver conversacion completa</a><br>
						{% endif %}
						<strong>Publicado: {{ tweet.fecha }}</strong>
						<a href="/twitter/retweet/{{ tweet.id }}/"><i class="icon-retweet"></i>Retweet</a>
						<a href="/twitter/responder/{{ tweet.id }}/"><i class="icon-share-alt"></i>Responder</a>
						{% if tweet.user == logueado %}
							<a href="/twitter/borrar/{{ tweet.id }}/"><i class="icon-trash"></i>Borrar</a>
						{% endif %}
					</p>
				</footer>
			</article>
		{% endfor %}
	{% else %}
		<header><h3>No se ha twitteado nada todavia</h3></header>
	{% endif %}
	<footer>
		<div class="pagination">
			<ul>
			<li class="prev{% if page < 2 %} disabled{% endif %}"><a href="/twitter/profile/{{ user.username }}/{{ page_prefix }}page/{{ prev }}/{{ page_sufix }}">&larr; Anterior</a></li>
			<li class="next"><a href="/twitter/profile/{{ user.username }}/{{ page_prefix }}page/{{ next }}/{{ page_sufix }}">Siguiente &rarr;</a></li>
			</ul>
		</div>
	</footer>
</section>{% endcomment %}
{% include 'twitter/tweets.html' %}
{% endblock %}