{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset={{ app_charset|upper }}" />
		<link rel="shortcut icon" href="{{ app_static_url }}{{ app_skin }}/images/favicon.ico" />
		<title>{% block title %}{{ app_name|upper }} - {{ app_desc }}{% endblock %}</title>
		<link rel='stylesheet' type='text/css' href='{{ app_static_url }}{{ app_skin }}/css/style.css' media='screen' />
		<script type="text/javascript" src="{{ app_static_url }}{{ app_skin }}/js/jquery.js"></script>
		<script type="text/javascript" src="{{ app_static_url }}{{ app_skin }}/js/easing.js"></script>
		<script type="text/javascript" src="{{ app_static_url }}{{ app_skin }}/js/lavalamp.js"></script>
		<script type="text/javascript" src="{{ app_static_url }}{{ app_skin }}/js/validation.js"></script>
		<script type="text/javascript" src="{{ app_static_url }}{{ app_skin }}/js/ajax.js"></script>
		<script type="text/javascript" src="{{ app_static_url }}{{ app_skin }}/js/dom.js"></script>
	</head>
    <body>
        <div id="globalWrapper">
            <div id="column-content">
                <div id="portal-top">
                    <ul id="p-personal">
				        {% if user.is_authenticated %}
				        <li id="profile">
					        <a href="/profile/" title="{{ user.get_full_name }}">{{ user.get_full_name }}</a>
				        </li>
				        <li id="preferences">
					        <a href="/preferences/" title="{% trans preferences %}">{% trans preferences %}</a>
				        </li>
				        {% else %}
				        <li id="login">
					        <a href="/login/" title="{% trans 'login' %}">{% trans 'login' %}</a>
				        </li>
				        <li id="signup">
					        <a href="/signup/" title="{% trans 'signup' %}" class="new">{% trans 'signup' %}</a>
				        </li>
				        {% endif %}
                    </ul>

                </div>
                <div id="portal-searchbox">
                    <div id="p-logo">
                        <a href="{{ app_url }}" title="{{ app_name }}"></a>
                    </div>

                    <form action="Search.php" id="searchform">
                        <div class="LSBox">
                            <div id="clock">
                                Escriba un término de búsqueda y pulse enter
                            </div>
                            <input id="searchInput" value="Buscar usuario" name="searchInput" type="text" onfocus="this.value=(this.value=='Buscar usuario') ? '' : this.value;" onblur="this.value=(this.value=='') ? 'Buscar usuario' : this.value;"  />
                        </div>
                    </form>
                </div>
            </div>

            <img src="{{ app_static_url }}{{ app_skin }}/images/banner.jpg" />

            <div id="menu">
                <ul id="portal-globalnav">
                    <li><a href="http://registro.canaima.softwarelibre.gob.ve">Inicio</a></li>
                    <li><a href="http://canaima.softwarelibre.gob.ve/">PORTAL PRINCIPAL</a></li>
                    <li><a href="http://wiki.canaima.softwarelibre.gob.ve/">ENCICLOPEDIA</a></li>
                    <li><a href="http://proyectos.canaima.softwarelibre.gob.ve/canaima/">SISTEMA DE TICKETS</a></li>
                    <li><a href="http://ideas.canaima.softwarelibre.gob.ve/">IDEAS</a></li>
                </ul>
            </div>

            <div id="content">
{% block content %}
                <div class="visualClear"></div>

                <div id="chiclet_left">
                    <p>Bienvenido a  Plataforma Colaborativa del Proyecto Canaima.</p>
                    <p>Desde aquí podrá gestionar directamente sus usuarios en Plataforma Colaborativa del Proyecto Canaima. La creación de una cuenta le permitirá conectarse a los siguientes servicios:</p>
                    <ul>
                        <li><a href="http://canaima.softwarelibre.gob.ve/">PORTAL PRINCIPAL</a></li>
                        <li><a href="http://wiki.canaima.softwarelibre.gob.ve/">ENCICLOPEDIA</a></li>
                        <li><a href="http://proyectos.canaima.softwarelibre.gob.ve/canaima/">SISTEMA DE TICKETS</a></li>
                        <li><a href="http://ideas.canaima.softwarelibre.gob.ve/">IDEAS</a></li>
                    </ul>
                </div>

                <div id="chiclet_right">
                    <div class="chiclet_usuario">
                        <a href="#">#</a>
                        <br />
                        <a href="#" class="chiclet_little">#</a>
                        <br />
                    </div>
                    <div class="chiclet_password">
                        <a href="#">#</a>
                        <br />
                        <a href="#" class="chiclet_little">#</a>
                        <br />
                    </div>
                    <div class="chiclet_olvidar">
                        <a href="#">#</a>
                        <br />
                    </div>
                    <div class="chiclet_eliminar">
                        <a href="#">#</a>
                        <br />
                    </div>
                    <div class="chiclet_editar">
                        <a href="#">#</a>
                        <br />
                    </div>
                    <div class="chiclet_listar">
                        <a href="#">#</a>
                        <br />
                    </div>
                </div>

                <div class="visualClear"></div>
{% endblock %}
            </div>

<div id="portal-footer">
    <div id="footer">
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
        <a href="#">#</a>
    </div>
    
    <div>
        Plataforma Colaborativa del Proyecto Canaima  es impulsado por
        <strong><a href="http://code.google.com/p/aguilas/">AGUILAS</a></strong>.
    </div>
</div>
</div>
</body>
</html>
