{% extends 'registration/base.html' %}
{% load i18n %}
{% block title %}{% trans "Log in" %}{% endblock %}
{% block content %}
<div class="well jumbotron">
	<div class="container">
        <div class="row-fluid">
	        <div class="span4">
		        <h3 class="lighter block">{% trans "Log in" %}</h3>
		        <form id="login-form" method="post" action="{% url 'registration_login' %}">
                    {% csrf_token %}
                    <ul class="unstyled">
                        <li>{{ form.username }}</li>
                        <li>{{ form.password }}</li>
                        <li>
                            <label for="id_remember_me">
                                {{ loginform.remember_me }}
                                <span class="lbl">
                                     {{ loginform.remember_me.label }}
                                </span>
                            </label>
                        </li>
                    </ul>
			        <button class="btn btn-yellow btn-block" type="submit">{% trans "Log in" %}</button>
			        <input type="hidden" name="next" value="{{ next }}" />
		        </form>
		        <ul class="unstyled">
			        <li><a href="{% url 'registration_password_reset' %}">{% trans "forgot your password?" %}</a></li>
			        <li><a href="{% url 'registration_signup' %}">{% trans "are you new to Tribus?" %}</a></li>
		        </ul>
		    </div>
		    <div class="span7 offset1">
                {% include 'registration/form_errors.html' %}
		    </div>
		</div>
	</div>
</div>
{% endblock %}