
{% extends "registration/base.html" %}
{% load i18n %}		    
{% block title %}Change password{% endblock %}
{% block content %}
<div class="well jumbotron">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
			    <h4 class="lighter block blue">{%trans 'Change password' %}</h4>
			    <hr />
			    <p>{%trans 'After entering your user data, you can edit your profile information.' %}</p>
			    <form method="post" action="{% url 'registration_password_change' %}">
			        {% csrf_token %}
			        <ul class="unstyled">
				        {% for field in form %}
			    			<li>{{ field }}</li>
						{% endfor %}
			        </ul>
			        <button class="btn btn-yellow btn-block" type="submit">{%trans 'Change password' %}</button>
			        <input type="hidden" name="next" value="{{ next }}" />
			    </form>
			</div>
		    <div class="span1"></div>
		    <div class="span7">
			    {% if form.errors %}
			        <div class="alert alert-error">
					    <h1><span class="bigger-150"><i class="icon-remove"></i>{% trans 'Oh, snap!' %}</span></h1>
						<p>{% trans 'The operation could not be performed because one or more error(s) occurred.' %}</p>
						<p>{% trans 'Please resubmit the form after making the following changes:' %}</p>
						<ul>
				        {% if form.non_field_errors %}
	                		{% for non_field_error in form.non_field_errors %}
	                			<li>{{ non_field_error|striptags }}</li>
	                		{% endfor %}
				        {% endif %}
				        {% for field in form %}
					        {% if field.errors %}
	                			<li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
	                		{% endif %}
			            {% endfor %}
						</ul>
						{{render_js}}
			        </div>
			    {% else %}
			        <div class="hero-unit">
			            <!-- algo aquí  -->
			            <br />
			            <br />
			            <br />
			            <br />
			            <br />
			            <br />
			            <br />
			            <br />
			            <br />
			            <br />
			        </div>
			    {% endif %}

		    </div>	    
			</div>
		</div>

	</div>
</div>
{% endblock %}
