{% extends "registration/base.html" %}
{% load i18n %}
{% block title %}{%trans 'Reset password'%}{% endblock %}
{% block content %}
<div class="well jumbotron">
	<div class="container">
        <div class="row-fluid">
	        <div class="span4">
		        <h3 class="lighter block blue">{% trans 'Reset your password'%}</h3>
		        <hr />
                <p>{% blocktrans %}Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.{% endblocktrans %}</p>
                <form method="post" action="{% url 'registration_password_reset' %}">
                    {% csrf_token %}
                    <ul class="unstyled">
				        {% for field in form %}
                			<li>{{ field }}</li>
            			{% endfor %}
                    </ul>
			        <button class="btn btn-yellow btn-block" type="submit">{% trans 'Reset password'%}</button>
			        <input type="hidden" name="next" value="{{ next }}" />
		        </form>
		    </div>
	        <div class="span1"></div>
		    <div class="span7">
                {% include 'registration/form_errors.html' %}
		    </div>
	    </div>
	</div>
</div>
{% endblock %}
