{% extends 'twitter/base.html' %}
{% block title %}Configuración de usuario - Twitter{% endblock %}
{% block contenido %}
	{{ mensaje|safe }}
	<form action="/twitter/configuracion/" method="post">
		{% csrf_token %}
		<input type="hidden" name="procesa" value="pass">
		<input type="password" name="oldpass" placeholder="Ingresa tu contraseña actual"><br>
		<input type="password" name="pass" placeholder="Contraseña deseada">
		<input type="password" name="pass2" placeholder="Repite la contraseña deseada"><br>
		<input class="btn" type="submit" value="Cambiar contraseña">
	</form>
	<form action="/twitter/configuracion/" method="post">
		{% csrf_token %}
		<input type="hidden" name="procesa" value="profile">
		<input type="password" name="oldpass" placeholder="Ingresa tu contraseña actual"><br>
		<input type="text" name="firstname" placeholder="Nombre" value="{{ nombre }}">
		<input type="text" name="lastname" placeholder="Apellido" value="{{ apellido }}"><br>
		<input type="text" name="email" placeholder="E-Mail: " value="{{ email }}">
		<input type="text" name="ubicacion" placeholder="Ubicacion" value="{{ ubicacion }}"><br>
		<textarea placeholder="Biografia corta(160 caracteres): " name="bio" maxlength="140" rows="5">{{ bio }}</textarea><br>
		<input type="text" name="avatar" placeholder="URL del avatar" value="{{ avatar }}"><br>
		<input class="btn" type="submit" value="Cambiar configuración">
	</form>
{% endblock %}