{% extends 'base.html' %}
{% block content %}
{% include 'timeline.html' %}
{% endblock %}
{% block trending %}
	{% if index %}
		{% if trending %}<h3>Trending Topics</h3>
		{% for topic in trending %}
			<a href="/twitter/buscar/?busqueda=%23{{ topic }}">#{{ topic }}</a><br>
		{% endfor %}{% endif %}
		{% if seguir %}<br><h3>Quizás te interese seguir a</h3>
		{% for u in seguir %}
			<a href="/twitter/profile/{{ u }}/">{{ u.get_full_name }} (@{{ u }})</a><br>
			<form action="/twitter/follow/" method="post">
				{% csrf_token %}
				<input type="hidden" name="user" value="{{ u }}">
				<input class="btn btn-success" type="submit" value="Seguir"><br>
			</form>
		{% endfor %}{% endif %}
	{% endif %}
{% endblock %}
