{% load i18n %}
        <div class="navbar">
                <div class="container-fluid">
                    <a class="brand" href="/">
                        <span class="smaller-90">
                            <span class="logo"></span>
                            <span class="logo_title">Tribus</span>
                        </span>
                        <span class="smaller-50">alpha</span>
                    </a>
                    {% if user.is_authenticated %}
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li>
                            <form class="form-search" action = "/paquetes/busqueda/" method = "POST">
                                {% csrf_token %}
                                <span class="input-icon">
                                    <input type="text" class="nav-search-input input-xlarge" name="busqueda" placeholder="Search or type a command" />
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="#"><span class="bigger-150 icon-home"></span></a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a id="drop-tasks" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="bigger-150 icon-tasks"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">X</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Y</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="drop-inbox" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="bigger-150 icon-inbox"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">X</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Y</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Z</a></li>
                            </ul>
                        </li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a id="drop-cog" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="bigger-150 icon-cog"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li>
                            <form class="form-search" action = "/paquetes/busqueda/" method = "POST">
                                {% csrf_token %}
                                <span class="input-icon">
                                    <input type="text" class="nav-search-input input-xlarge" name="busqueda" placeholder="Search or type a command" />
                                    <i class="icon-search nav-search-icon"></i>
                                </span>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a class="btn btn-yellow btn-block" href="{% url 'user_login' %}">{% trans "Log in" %}</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="bigger-125 icon-globe"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Spanish</a></li>
                            </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
        </div>

