{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/bootstrap.css' />
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/bootstrap-responsive.css' />
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/font-awesome.css' />
    <!--[if IE 7]>
        <link rel="stylesheet" href="{{ TBS_STATIC }}/css/font-awesome-ie7.css" />
    <![endif]-->
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/ace.css' />
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/ace-responsive.css' />
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/ace-skins.css' />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ TBS_STATIC }}/css/ace-ie.css" />
    <![endif]-->
    <link rel='stylesheet' href='{{ TBS_STATIC }}/css/app.css' />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tour.css' %}">
    </head>
<body>
<div class="scrollblock" id="group_1">
    <div id="slide_0">
        <div class="fancy_title">
            <span class="title0">¿?</span>
            <span class="title1">Cuanta</span>
            <span class="title2">creatividad</span>
            <span class="title3">cabe</span>
            <span class="title4">en este</span>
            <span class="title5">lugar</span> 
        </div>
    </div>
    <div id="slide_1">
        <div id="flat_earth">
           {% include "svg/flat_earth.svg" %}
        </div>
    </div>
    <div id="slide_1a">
        <h1>Imagina una red</h1>
    </div>
    <div id="slide_1b">
        <span class="bigger-200">que conecte a todas aquellas personas que deseen crear las más variadas, brillantes y únicas obras artísticas, de una forma sencilla, colaborativa y ágil.</span>
    </div>
</div>
<div class="scrollblock" id="group_2">
    <div id="slide_2">
        <h1>Con herramientas</h1>
        <span class="bigger-200">a tu disposición que permitan automatizar los procesos tediosos, ayudándote a concentrarte en lo que más importa: el proceso creativo.</span>
    </div>
</div>
<div class="scrollblock" id="group_3">
    <div id="slide_3">
        <h1>Con herramientas</h1>
        <span class="bigger-200">a tu disposición que permitan automatizar los procesos tediosos, ayudándote a concentrarte en lo que más importa: el proceso creativo.a tu disposición que permitan automatizar los procesos tediosos, ayudándote a concentrarte en lo que más importa: el proceso creativo.a tu disposición que permitan automatizar los procesos tediosos, ayudándote a concentrarte en lo que más importa: el proceso creativo.a tu disposición que permitan automatizar los procesos tediosos, ayudándote a concentrarte en lo que más importa: el proceso creativo.a tu disposición que permitan automatizar los procesos tediosos, ayudándote a concentrarte en lo que más importa: el proceso creativo.</span>
    </div>
</div>
<div class="scrollblock" id="group_4">
    <div id="slide_4">
        <h2>¿Qué es lo qxasxasasue mueve al mundo?</h2>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.scrollorama.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tour.js' %}"></script>
</body>
</html>
