{% load i18n %}
<div class="action_publisher" ng-controller="NewTribController">
    <div class="row-fluid">
        <form ng-submit="createNewTrib()">
            <span class="span1">
                <span class="action_avatar"> 
                    <img gravatar-src="'{{user.email}}'" gravatar-size="100">
                </span>
            </span>
            <span class="span9 action_content">
                <span class="arrow_left"></span>
                <span class="action_bubble">
                    <textarea ng-model="trib_content" rows="1" class="action_box autosize expand" placeholder="{% trans 'What are you doing?' %}"></textarea>
                </span>
            </span>
            <span class="span2 action_submit">
                <button class="btn btn-success action_button">
                    <i class="icon-pencil"></i>
                    {% trans 'Publish' %}
                </button>
            </span>
        </form>
    </div>
</div>
<div class="trib_list" infinite-scroll="addOldTribs()" infinite-scroll-disabled="controller_busy" infinite-scroll-distance="0" ng-controller="TribListController">
    <ul>
        <li class="row-fluid trib_item" ng-repeat="trib in tribs | orderBy: trib_orderby | limitTo: trib_limit_to track by trib.id">
            <span class="span2">
                <span class="trib_avatar">
                    <img gravatar-src="'{% verbatim %}{{trib.author_email}}{% endverbatim %}'" gravatar-size="100">
                </span>
            </span>
            <span class="arrow_left"></span>
            <span class="span10 trib_body">
                <span class="trib_title">
                    <h3>{% verbatim %}{{ trib.author_first_name }} {{ trib.author_last_name }}{% endverbatim %}</h3>
                    <h4>{% verbatim %}@{{ trib.author_username }}{% endverbatim %}</h4>
                    <h4 class="timeago pull-right" title="{% verbatim %}{{ trib.trib_pub_date }}{% endverbatim %}Z"></h4>
                </span>
                <span class="trib_content">{% verbatim %}{{ trib.trib_content }}{% endverbatim %}</span>
                <span class="trib_interact">
                    <span class="pull-right">
                        <a href="#"><span class="icon-comment-alt"></span>{% trans 'Comment' %}</a>
                    </span>
                    <span class="pull-right">
                        <a href="#"><span class="icon-bullhorn"></span>{% trans 'Share' %}</a>
                    </span>
                    <span class="pull-right">
                        <a href="#"><span class="icon-star-empty"></span></a>
                    </span>
                    <span class="pull-right">
                        <a href="#"><span class="icon-thumbs-down-alt"></span></a>
                    </span>
                    <span class="pull-right">
                        <a href="#"><span class="icon-thumbs-up-alt"></span></a>
                    </span>
                    <span ng-click="toggleTrib()">
                        <a href="#"><span class="icon-chevron-down"></span>{% trans 'Details' %}</a>
                    </span>
                    <span>
                        <a href="#"><span class="icon-trash"></span>{% trans 'Delete' %}</a>
                    </span>
                </span>
                <span class="trib_reply">
                    <span id="{% verbatim %}{{ trib.id }}{% endverbatim %}" ng-controller="CommentController" ng-if="trib.reply_show">
                        <ul>
                            <li class="row-fluid comment_item" ng-repeat="comment in comments | orderBy: trib_orderby | limitTo: trib_limit_to track by trib.id">{% verbatim %}{{ comment.comment_content }}{% endverbatim %}
                            </li>
                            <li class="comment_item">                        
                                <form ng-submit="createNewComment(trib.id)">
                                    <span class="span1">
                                        <span class="action_avatar"></span>
                                    </span>
                                    <span class="span9 action_content">
                                        <span class="arrow_left"></span>
                                        <span class="action_bubble">
                                            <textarea ng-model="comment_content" rows="1" class="action_box autosize expand" placeholder="{% blocktrans %}What do you want to say?{% endblocktrans %}"></textarea>
                                        </span>
                                    </span>
                                    <span class="span2 action_submit">
                                        <button class="btn btn-success action_button">
                                            {% trans 'Publish' %}
                                        </button>
                                    </span>
                                </form>
                            </li>
                        </ul>
                    </span>
                </span>
            </span>
        </li>
    </ul>
</div>