{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row-fluid dashboard_container">
            <div class="span8 dashboard_timeline">
                <div class="trib_list">
                    <ul>
                        <li class="trib_intro">
                            <span class="trib_body">
                                <span class="trib_title">
                                    <h2>{% trans 'Tribus' %}</h2>
                                </span>
                                <span class="trib_content">
                                    <p>{% blocktrans %}Tribus is a social network for managing open source software communities. Its goal is to simplify the tedious and repetitive maintenance tasks, while making available to its members the best tools to express their creativity and develop the full potential of their abilities.{% endblocktrans %}</p>
                                    <p>{% blocktrans %}Tribus promotes self-management and responsibility in various areas of software production process, establishing an organizational model that allows progression and natural rotation of roles.{% endblocktrans %}</p>
                                    <h3>{% trans 'More information' %}</h3>
                                    <p>
                                        <ul>
                                            <li>
                                                <strong>{% trans 'Source code:' %}</strong>
                                                <a href="http://github.com/CanaimaGNULinux/tribus" target="_blank">
                                                    github.com/CanaimaGNULinux/tribus
                                                </a>
                                            </li>
                                            <li>
                                                <strong>{% trans 'Ticket system:' %}</strong>
                                                <a href="http://github.com/CanaimaGNULinux/tribus/issues" target="_blank">
                                                    github.com/CanaimaGNULinux/tribus/issues
                                                </a></li>
                                            <li>
                                                <strong>{% trans 'Documentation:' %}</strong>
                                                <a href="http://tribus.readthedocs.org/" target="_blank">
                                                    tribus.readthedocs.org
                                                </a></li>
                                            <li>
                                                <strong>{% trans 'Translation:' %}</strong>
                                                <a href="http://www.transifex.com/projects/p/tribus/" target="_blank">
                                                    transifex.com/projects/p/tribus
                                                </a></li>
                                            <li>
                                                <strong>{% trans 'Twitter:' %}</strong>
                                                <a href="http://twitter.com/tribusdev" target="_blank">
                                                    twitter.com/tribusdev
                                                </a></li>
                                            <li>
                                                <strong>{% trans 'Facebook:' %}</strong>
                                                <a href="http://www.facebook.com/groups/tribusdev" target="_blank">
                                                    facebook.com/groups/tribusdev
                                                </a></li>
                                        </ul>
                                    </p>
                                    
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4 dashboard_panel">
                <a href="/" class="btn btn-block btn-success btn-large">
                    <span class="bigger-140 width-100 block">
                        <i class="icon-chevron-left"></i>
                        {% trans 'Go back' %}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}