{% load i18n %}
<div id="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <span class="span5">
                <div class="row-fluid">
                    <a href="/about/terms">{% trans 'Terms of Service' %}</a>
                    &sim;
                    <a href="/about/privacy">{% trans 'Privacy Policy' %}</a>
                </div>
            </span>
            <span class="span7">
                <p class="pull-right">
                    <a href="/about">{% trans 'Tribus is Free Software' %}</a>
                </p>
            </span>
        </div>
    </div>
</div>
