{% load i18n %}
<div id="footer">
    <div class="container-fluid">
        <div class="row-fluid">
            <span class="span5">
                <span class="row-fluid">
                    <a href="/about/terms" target="_blank">{% trans 'Terms of Service' %}</a>
                    &sim;
                    <a href="/about/privacy" target="_blank">{% trans 'Privacy Policy' %}</a>
                </span>
            </span>
            <span class="span7">
                <span class="pull-right">
                    <a href="/about" target="_blank">{% trans 'Tribus is Free Software' %}</a>
                </span>
            </span>
        </div>
    </div>
</div>
