{% load i18n %}
{% load waffle_tags %}
<div class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="row-fluid">
            <ul class="nav span2">
                <li class="brand">
                    <a href="/">
                        <span class="logo"></span>
                        <span class="logo_title">Tribus</span>
                        <span class="logo_subtitle badge badge-yellow">alpha</span>
                    </a>
                </li>
                <li class="divider-vertical"></li>
            </ul>
            {% if user.is_authenticated %}

            <ul class="nav span4">
            	<li class="dropdown search" ng-controller="TypeaheadCtrl">
            		<form name="form-search" class="form-search" action="/search/" method="POST">
	    				{% csrf_token %}
	    				<span class="input-icon">
    					<input type="text" ng-model="selected" name="q"
                        autocomplete="off"
                        placeholder="{% trans 'What are you looking for?' %}"
                        typeahead="item as item.name for item in getResults($viewValue)"
                        typeahead-wait-ms="300"
                        typeahead-template-url="itemTpl.html">
	    				<span class="icon-search nav-search-icon"></span>
	    				</span>
    				</form>
				</li>                  
            </ul>
            <ul class="nav nav-spacer">
                <li class="width-100"></li>
            </ul>
            <ul class="nav span2 pull-right">
                <li class="home"></li>
                
                {% switch profile %}
                <li class="home">
                    <a href="/"><span class="bigger-150 icon-home"></span></a>
                </li>
                <li class="divider-vertical"></li>
                <li class="profile">
                    <a href="/profile/"><span class="bigger-150 icon-user"></span></a>
                </li>
                <li class="divider-vertical"></li>
                {% endswitch%}
                
                <li class="dropdown settings">
                    <a id="drop-settings" href="#" class="dropdown-toggle" role="button">
                        <span class="bigger-150 icon-cog"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop-settings">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/password/change">{% trans "Change password" %}</a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="/logout">{% trans "Logout" %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="nav span8">
                <li class="width-100"></li>
            </ul>
            <ul class="nav span2">
                <li class="width-100">
                    <a class="btn btn-yellow btn-block" href="{% url 'registration_login' %}">
                        {% trans "Log in" %}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</div>
<script type="text/javascript">
    var packages_url_placer = '/cloud/p/%PACKAGE%';
    var user_url_placer = '/profile/%USER%';
</script>
