{% load i18n %}
<div class="navbar" >
	<div class="container-fluid">
		<ul class="nav">
			<li class="brand">
			    <a href="/">
			        <span class="logo"></span>
			        <span class="logo_title">Tribus</span>
			        <span class="logo_subtitle badge badge-yellow">alpha</span>
			    </a>
			</li>
			<li class="divider-vertical"></li>
		</ul>
		{% if user.is_authenticated %}
            <ul class="nav">
                 <li class="dropdown" ng-controller="SearchListController">
                 	<form class="form-search" action = "/search/" method = "GET">
                        {% csrf_token %}
                        <span class="input-icon">
                            <input type="text" class="nav-search-input input-large top_search_input" autocomplete="off" name="q"
                            placeholder="Search or type a command" ng-model="top_search" ng-keyup="refreshResults()" required/>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                            	<h3 ng-if="hasPackages()">Packages</h3>
                        		<li role="presentation" ng-repeat="result in package_results">
                        			<a role="menuitem" tabindex="-1" href="{% verbatim %}{{ result.url }}{% endverbatim %}">{% verbatim %}{{ result.name }}{% endverbatim %}</a>
                        		</li>
                        		<h3 ng-if="hasUsers()">Users</h3>
                        		<li role="presentation" ng-repeat="result in users_results">
                            		<a role="menuitem" tabindex="-1" href="{% verbatim %}{{ result.url }}{% endverbatim %}">{% verbatim %}{{ result.fullname }}{% endverbatim %}</a>
                            	</li>
                        		<h3 ng-if="noResults()">No matching results</h3>
                    		</ul>
                            <i class="icon-search nav-search-icon"></i>
                        </span>
                    </form>     
                </li>                       
            </ul>
            <ul class="nav pull-right">
                <li>
                    <a href="/"><span class="bigger-150 icon-home"></span></a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="/profile"><i class="bigger-150 icon-user"></i></a>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a id="drop-cog" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="bigger-150 icon-cog"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <ul class="nav pull-right">
                <li>
                    <a class="btn btn-yellow btn-block" href="{% url 'registration_login' %}">
                        {% trans "Log in" %}
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    var packages_url_placer = '/cloud/%PACKAGE%';
    var user_url_placer = '/profile/%PACKAGE%';
</script>