{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row-fluid dashboard_container">
            <div class="span8 dashboard_timeline">
                <div class="trib_list">
                    <ul>
                        <li class="trib_intro">
                            <span class="trib_body">
                                <span class="trib_title">
                                    <h2>{% trans 'Terms of Service' %}<h2>
                                </span>
                                <span class="trib_content">
                                <h2>{% trans 'Policy Privacy Tribes' %}</h2>
                                <p>{% blocktrans %}This Privacy Policy describes how and when Tribus collect, use and share your information when you use our Services. Tribus receive your information through our various web services, APIs and email notifications (the "<strong>Services</strong>" or "<strong>Tribus</strong>"). By using any of our Services you consent to the collection, transfer, treatment, storage, disclosure and other uses of your information as described in this Privacy Policy.{% endblocktrans %}</p>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4 dashboard_panel">
                <a href="/" class="btn btn-block btn-success btn-large">
                    <span class="bigger-140 width-100 block">
                        <i class="icon-chevron-left"></i>
                        {% trans 'Go back' %}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}