{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Privacy Policy" %}{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row-fluid dashboard_container">
            <div class="span8 dashboard_timeline">
                <div class="trib_list">
                    <ul>
                        <li class="trib_intro">
                            <span class="trib_body">
                                <span class="trib_title">
                                    <h2>{% trans 'Privacy Policy' %}</h2>
                                </span>
                                <span class="trib_content">
                                    <p>{% blocktrans %}This Privacy Policy describes how and when Tribus will collect, use and share your information when you use our Services. Tribus receive your information through our various web services, APIs and email notifications (the "<strong>Services</strong>" or "<strong>Tribus</strong>"). By using any of our Services you consent to the collection, transfer, treatment, storage, disclosure and other uses of your information as described in this Privacy Policy.{% endblocktrans %}</p>

                                    <h3>{% trans 'Information Collected Upon Registration' %}</h3>

                                    <p>{% blocktrans %}When you create or reconfigure a Tribus account, you provide some personal information, such as your name, username, password, and email address. Some of this information, for example, your name and username, is listed publicly on our Services, including on your profile page and in search results. Some Services, such as search, public user profiles and viewing lists, do not require registration.{% endblocktrans %}</p>

                                    <h3>{% trans 'Additional Information' %}</h3>

                                    <p>{% blocktrans %}You may provide us with profile information to make public, such as a short description or a picture. We may use your contact information to send you information about our Services. We may use your contact information to help others find your Tribus account.{% endblocktrans %}</p>

                                    <h3>{% trans 'Messages, Following, Followers and other Public Information' %}</h3>

                                    <p>{% blocktrans %}Our Services are primarily designed to help you share information with the world. Most of the information you provide us is information you are asking us to make public. This includes not only the messages you publish and the metadata provided with the message, such as when you published it, but also the people you follow, and many other bits of information that result from your use of the Services. When you share information or content like photos, videos, and links via the Services, you should think carefully about what you are making public.{% endblocktrans %}</p>

                                    <h3>{% trans 'Cookies:' %}</h3>

                                    <p>{% blocktrans %}Like many websites, we use cookies and similar technologies to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles. A cookie is a small data file that is transferred to your computer's hard disk. Tribus may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to customize and improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by changing its settings, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit. However, some Services may not function properly if you disable cookies.{% endblocktrans %}</p>
                                    <h3>{% trans 'Log Data:' %}</h3>
                                    <p>{% blocktrans %}Our servers automatically record information ("<strong>Log Data</strong>") created by your use of the Services. Log Data may include information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device and application IDs, search terms, and cookie information. We receive Log Data when you interact with our Services, for example, when you visit our website, sign into our Services or interact with our email notifications. Tribus uses Log Data to provide our Services and to measure, customize, and improve them.{% endblocktrans %}</p>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4 dashboard_panel">
                <a href="/" class="btn btn-block btn-success btn-large">
                    <span class="bigger-140 width-100 block">
                        <i class="icon-chevron-left"></i>
                        {% trans 'Go back' %}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
