{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row-fluid dashboard_container">
            <div class="span8 dashboard_timeline">
                <div class="trib_list">
                    <ul>
                        <li class="trib_intro">
                            <span class="trib_body">
                                <span class="trib_title">
                                    <h2>{% trans 'Terms of Service' %}</h2>
                                </span>
                                <span class="trib_content">
                                    <p>{% blocktrans %}These Terms of Service (hereinafter the "<strong> Conditions </strong>") govern your access and use of services, including our various web sites, APIs, email notifications, applications and icons (hereinafter the "<strong> Services </strong>" or "<strong> Tribus </strong>"), as well as access to and use of any information, text, graphics, photos or other materials uploaded, downloaded, or play through Services (hereinafter, collectively, the " <strong>Content</strong>"). Access to and use of the Services is conditioned on your acceptance and compliance with these Terms. By accessing or using the Services, you consent to the application of these Conditions.{% endblocktrans %}</p>
                                    
                                     
                                    
                                    <h3>{% trans 'Basic Conditions' %}</h3>

                                    <p>{% blocktrans %}You are solely responsible for the use that may be made of the services, for all Content that you play through the Services and for any consequences resulting therefrom. The Content you submit, show or play may be viewed by other users of the Services. Note that you only need to provide Content that you see fit to share with third parties in accordance with the provisions of these Terms.{% endblocktrans %}</p> 
                                    
                                    <p>{% blocktrans %}Tribus Services provides continually evolving and, therefore, the form or nature of such services may change from time to time without being notified in advance of such change. Also, Tribus may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or all users in general and, in these circumstances, it is possible that Tribes can not notify this fact advance. Tribes also reserves the right to place limits on use and storage at our sole discretion Tribus, at any time and without notice.{% endblocktrans %}</p>

                                    <h3>{% trans 'Privacity' %}</h3>

                                    <p>{% blocktrans %}Any information you provide to Tribes is subject to our <a href="/about/privacy" target="_blank"> Privacy Policy </a> that governs the collection and use of your information by tribus. Hereby informing you that the use of the Services involves its implied consent to the collection and use of this information (as provided in the Privacy Policy).{% endblocktrans %}</p>

                                    <h3>{% trans 'Passwords' %}</h3>

                                    <p>{% blocktrans %}You are responsible for the custody of the password used to access the Services and for any activity or action which is carried out with your password. We recommend you protect your account with a strong password (a password containing combinations of uppercase and lowercase letters, numbers and symbols). Tribus is not liable for any loss or damage resulting from breach of the aforementioned.{% endblocktrans %}</p>

                                                               
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4 dashboard_panel">
                <a href="/" class="btn btn-block btn-success btn-large">
                    <span class="bigger-140 width-100 block">
                        <i class="icon-chevron-left"></i>
                        {% trans 'Go back' %}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}