{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Terms" %}{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container-fluid">
        <div class="row-fluid dashboard_container">
            <div class="span8 dashboard_timeline">
                <div class="trib_list">
                    <ul>
                        <li class="trib_intro">
                            <span class="trib_body">
                                <span class="trib_title">
                                    <h2>{% trans 'Terms of Service' %}</h2>
                                </span>
                                <span class="trib_content">
                                    <p>{% blocktrans %}These Terms of Service ("<strong>Terms</strong>") govern your access to and use of the services, including our website, APIs, email notifications, applications, buttons, and widgets, (the "<strong>Services</strong>" or "<strong>Tribus</strong>"), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "<strong>Content</strong>"). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.{% endblocktrans %}</p>

                                    <h3>{% trans 'Basic Conditions' %}</h3>
                                    <p>{% blocktrans %}You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the Services. You should only provide Content that you are comfortable sharing with others under these Terms.{% endblocktrans %}</p> 
                                    
                                    <p>{% blocktrans %}The Services that Tribus provides are always evolving and the form and nature of the Services that Tribus provides may change from time to time without prior notice to you. In addition, Tribus may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.{% endblocktrans %}</p>

                                    <h3>{% trans 'Privacy' %}</h3>
                                    <p>{% blocktrans %}Any information that you provide to Tribus is subject to our <a href="/about/privacy" target="_blank">Privacy Policy</a>, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information.{% endblocktrans %}</p>

                                    <h3>{% trans 'Passwords' %}</h3>
                                    <p>{% blocktrans %}You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. Tribus cannot and will not be liable for any loss or damage arising from your failure to comply with the above{% endblocktrans %}</p>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span4 dashboard_panel">
                <a href="/" class="btn btn-block btn-success btn-large">
                    <span class="bigger-140 width-100 block">
                        <i class="icon-chevron-left"></i>
                        {% trans 'Go back' %}
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
